<div class='xo-address-detail'>
  <xo-animate xo-cascade>
    <div class='xo-address-detail__title'>
      {{ 'customer.addresses.default' | t }}
    </div>
  </xo-animate>
  <div class='xo-address-detail__content'>
    {% if customer.default_address.first_name != blank and customer.default_address.last_name != blank %}
      <xo-animate xo-cascade>
        <div class='xo-address-detail__item'>
          <div class='xo-address-detail__icon'>
            {% render 'icon', name: 'account', size: '1.8rem' %}
          </div>
          <div class='xo-address-detail__text'>
            {{ customer.default_address.first_name | capitalize }}
            {{ customer.default_address.last_name | capitalize }}
          </div>
        </div>
      </xo-animate>
    {% endif %}
    {% if customer.default_address.phone != blank %}
      <xo-animate xo-cascade>
        <div class='xo-address-detail__item'>
          <div class='xo-address-detail__icon'>
            {% render 'icon', name: 'phone', size: '2.4rem' %}
          </div>
          <div class='xo-address-detail__text'>{{ customer.default_address.phone }}</div>
        </div>
      </xo-animate>
    {% endif %}
    {% if customer.default_address.company != blank or customer.default_address.street != blank or customer.default_address.city != blank %}
      <xo-animate xo-cascade>
        <div class='xo-address-detail__item'>
          <div class='xo-address-detail__icon'>
            {% render 'icon', name: 'location', size: '2.4rem' %}
          </div>
          <div class='xo-address-detail__text'>
            {{- customer.default_address.company }}
            {{ customer.default_address.street }}
            {{ customer.default_address.city | capitalize }}
          </div>
        </div>
      </xo-animate>
    {% endif %}
  </div>
</div>
