{% comment %}
  Renders a article card placeholder.

  Accepts:
  - placeholder_image: {String} The placeholder image to use when no article exists. Default: 'product-apparel-1' (optional)

  Usage:
  {% render 'article-card-placeholder', placeholder_image: placeholder_image %}
{% endcomment %}

{% liquid
  assign title_default = 'blogs.article_placeholder.title' | t
  assign author_default = 'blogs.article_placeholder.author' | t
  assign date_default = 'blogs.article_placeholder.date' | t
  assign description_default = 'blogs.article_placeholder.description' | t
%}

<xo-animate
    xo-cascade
    class='xo-article-card {% if settings.enable_border_radius %}xo-article-card--radius{% endif %} xo-article-card--{{ settings.article_card_style }} {% if section.settings.color_scheme_card %} color-{{ section.settings.color_scheme_card }} {% endif %}'
  >
    {%- if show_image -%}
      <div class='xo-article-card__image {% if settings.enable_border_radius %}xo-article-card__image--radius{% endif %}'>
        {% render 'image', placeholder: placeholder_image, aspect_ratio: media_aspect_ratio | default: '3/4', lazyload: lazyload %}
      </div>
    {%- endif -%}
    <div
      class='xo-article-card__information'
      {% if settings.article_card_style == 'boxed' and settings.article_card_content_padding == 0 %}
        style='--article-card-content-padding: initial'
      {% endif %}
    >
      <a href='{{ article.url }}' class='xo-article-card__heading'>
        {{ title_default }}
      </a>
      <div
        class='xo-article-card__box'
        style='{%- if settings.article_card_text_alignment == 'left' -%}--alignment: start;{%- elsif settings.article_card_text_alignment == 'center' -%}--alignment: center;{%- else -%}--alignment: right;{%- endif -%}'
      >
        {%- if show_author -%}
          <span class='xo-article-card__author'>{{ author_default }}</span>
        {%- endif -%}
        {% if show_author and show_date %}
          <span class='xo-article-card__dot'></span>
        {% endif %}
        {%- if show_date -%}
          <span class='xo-article-card__date'>{{ date_default }}</span>
        {%- endif -%}
      </div>
      {%- if show_excerpt != blank -%}
        <div class='xo-article-card__description'>
          {{ description_default | strip_html | truncatewords: 42 }}
        </div>
      {%- endif -%}
    </div>
  </xo-animate>
