{% comment %}
  Accepts:
  - bubble_label: (String) Bubble label
  - custom_icon: (String) Custom icon
  - background_color: #000000
  - foreground_color: #FFFFFF
  - bubble_position: above | aside
{% endcomment %}

<div
  class='xo-bubble{% if bubble_position %} xo-bubble--{{ bubble_position }}{% endif %}{% if settings.enable_border_radius %} xo-bubble--radius{% endif %}{% if bubble_label != blank or custom_icon != blank %} xo-bubble--modifier{% endif %}'
  style='--bg-color: {{ background_color }}; --label-color: {{ foreground_color }}'
>
  {% if custom_icon != blank %}
    <span class='xo-bubble__icon'>
      {{ custom_icon }}
    </span>
  {% endif %}
  {% if bubble_label != blank %}
    <span class='xo-bubble__label'>{{ bubble_label }}</span>
  {% endif %}
</div>
