{% comment %}
  Renders a circle bar block

  Accepts:
  - value: {Number} Value (required)
  - duration: {Number} Duration (required)
  - stroke_width: {Number} Stroke width (optional)
  - size: {Number} Size (optional)
  - track_color: {String} Track color (optional)
  - thumb_color: {String} Thumb color (optional)

  Usage:
  {% render 'circle-bar-block',
    value: 50,
    duration: 2000,
    stroke_width: 5,
    size: 100,
    track_color: "#000",
    thumb_color: "#000"
  %}
{% endcomment %}

<div class="xo-circle-bar-block">
  <xo-circle-bar
    xo-name="{{ block.id }}"
    xo-animate-on-scroll
    xo-value="{{ value }}"
    xo-duration="{{ duration }}"
    xo-stroke-width="{{ stroke_width }}"
    xo-size="{{ size }}"
    xo-track-color="{{ track_color }}"
    xo-thumb-color="{{ thumb_color }}"
  ></xo-circle-bar>
</div>
