{% comment %}
  Renders a collection image

  Accepts:
  - collection: {Object} Collection object (required)
  - class: {String} Font size heading of the collection (required)
  - heading: {String} Title of the collection (required)
  - image: {Image} Image Liquid object (optional)
  - media_aspect_ratio: {String} Size of the image (optional)
  - link: {String} Link to the collection (optional)
  - button: {Object} Button (optional)
  - show_button: {Boolean} Show button to use (optional)
  - color_scheme_collection: {String} The color scheme to use (optional)
  - animate_enabled: {Boolean} Enable animation. Default: true (optional)

  Usage:
  {% render 'collection-image',
  collection: collection,
  class: class,
  heading: heading,
  image: image_desktop,
  media_aspect_ratio: media_aspect_ratio_desktop,
  image: image_mobile,
  media_aspect_ratio: media_aspect_ratio_mobile,
  link: link,
  button: button,
  show_button: show_button,
  color_schema_collection: color_schema_collection,
  animate_enable: true
  %}
{% endcomment %}

{%- liquid
  if collection and collection != empty
    assign image_collection = collection.featured_image
    assign collection_name = collection.title
    assign link = collection.url
  endif

  if animate_enabled == null
    assign animate_enabled = false
  endif

  assign tag_name = 'div'

  if animate_enabled
    assign tag_name = 'xo-animate'
  endif

  if link_enable == null
    assign link_enable = false
  endif

  assign tag_name_2 = 'div'
  assign disable_alt = false
  if link_enable
    assign tag_name_2 = 'a'
    assign disable_alt = true
  endif
-%}

<{{ tag_name }} xo-cascade class='collection-image{% if color_schema_collection %} color-{{ color_schema_collection }}{% endif %}'>
  <{{ tag_name_2 }}
    {% if link == blank %}
      role='link'
      aria-disabled='true'
    {% else %}
      href='{{ link }}'
    {% endif %}
    class='collection-image__link'
  >
    <div class='collection-image__image collection-image__image--desktop {% if settings.enable_border_radius %}collection-image__image--radius{% endif %}'>
      {% if image_collection == blank %}
        {% render 'animate-image', image: image_desktop, border_radius: 0, aspect_ratio: media_aspect_ratio_desktop, disable_alt: disable_alt %}
      {% else %}
        {% if image_desktop != blank %}
          {% render 'animate-image', image: image_desktop, border_radius: 0, aspect_ratio: media_aspect_ratio_desktop, disable_alt: disable_alt %}
        {%- else -%}
          {% render 'animate-image', image: image_collection, border_radius: 0, aspect_ratio: media_aspect_ratio_desktop, disable_alt: disable_alt %}
        {% endif %}
      {% endif %}
    </div>
    <div class='collection-image__image collection-image__image--mobile {% if settings.enable_border_radius %}collection-image__image--radius{% endif %}'>
      {% if image_collection == blank %}
        {% render 'animate-image', image: image_mobile, border_radius: 0, aspect_ratio: media_aspect_ratio_mobile, disable_alt: disable_alt %}
      {% else %}
        {% if image_mobile != blank %}
          {% render 'animate-image', image: image_mobile, border_radius: 0, aspect_ratio: media_aspect_ratio_mobile, disable_alt: disable_alt %}
        {%- else -%}
          {% render 'animate-image', image: image_collection, border_radius: 0, aspect_ratio: media_aspect_ratio_mobile, disable_alt: disable_alt %}
        {% endif %}
      {% endif %}
    </div>
    {% if show_heading %}
      <div class='collection-image__text'>
        {% if heading %}
          <div class='collection-image__heading'>
            {% render 'text',
              class: class,
              text: heading,
              tag_name: tag_name,
              effect: effect,
              duration: duration,
              heading_width_desktop: heading_width_desktop,
              heading_width_mobile: heading_width_mobile
            %}
          </div>
        {% else %}
          <div class='collection-image__heading {{ class }}'>{{ collection_name }}</div>
        {% endif %}
      </div>
    {% endif %}
    {% if show_button %}
      <xo-magnetic
        xo-duration='500'
        xo-radius='150'
        class='collection-image__button'
      >
        <xo-magnetic-content>
          {% render 'button',
            text: button.button_text,
            link: button.button_link,
            style: button.button_style,
            size: button.button_size,
            radius: settings.button_radius,
            padding: settings.button_padding
          %}
        </xo-magnetic-content>
      </xo-magnetic>
    {% endif %}
  </{{ tag_name_2 }}>
</{{ tag_name }}>
