{% comment %}
  Renders a countto block

  Accepts:
  - class: {String} Class (optional)
  - from: {Number} Start value (required)
  - to: {Number} End value (required)
  - duration: {Number} Duration (ms) (optional)
  - delay: {Number} Delay (ms) (optional)

  Usage:
  {% render 'countto-block',
    from: 10,
    to: 1000,
    duration: 3000,
    delay: 1000
  %}
{% endcomment %}

<div class='xo-coutto-block{% if class %} {{ class }}{% endif %}'>
  <xo-countto
    xo-from='{{ from }}'
    xo-to='{{ to }}'
    {% if duration != blank %}
      xo-duration='{{ duration }}'
    {% endif %}
    {% if delay != blank %}
      xo-delay='{{ delay }}'
    {% endif %}
  >
    {{ from }}
  </xo-countto>
</div>
