{% comment %}
  Renders a feature special element with a given value

  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - title: {String} Title (required)
  - image: {String} Image (required)

  Usage:
  {% render 'feature-special', class: class, heading: heading, title: title, image: image %}
{% endcomment %}

{% liquid
  assign caption = item.settings.caption
  assign color_config_enable = item.settings.color_config_enable
  assign icon_1 = item.settings.icon_1
  assign title_1 = item.settings.title_1
  assign icon_2 = item.settings.icon_2
  assign title_2 = item.settings.title_2
  assign icon_3 = item.settings.icon_3
  assign title_3 = item.settings.title_3
%}

<div class='feature-special'>
  <div class='feature-special__box'>
    {% if caption %}
      <div class='feature-special__caption {{ class }}'>{{ caption }}</div>
    {% endif %}
    <div class='feature-special__content'>
      <div class='feature-special__item'>
        <div class='feature-special__icon{% if color_config_enable %} feature-special__icon--modifier{% endif %}'>
          {% render 'image', image: icon_1 %}
        </div>
        {% if title_1 %}
          <div class='feature-special__title'>
            {{ title_1 }}
          </div>
        {% endif %}
      </div>
      <div class='feature-special__item'>
        <div class='feature-special__icon{% if color_config_enable %} feature-special__icon--modifier{% endif %}'>
          {% render 'image', image: icon_2 %}
        </div>
        {% if title_2 %}
          <div class='feature-special__title'>
            {{ title_2 }}
          </div>
        {% endif %}
      </div>
      <div class='feature-special__item'>
        <div class='feature-special__icon{% if color_config_enable %} feature-special__icon--modifier{% endif %}'>
          {% render 'image', image: icon_3 %}
        </div>
        {% if title_3 %}
          <div class='feature-special__title'>
            {{ title_3 }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
