{% comment %}
  Rennder a feature product

  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - product: {Object} Product (required)
  Usage:
  {%
    render 'feature-product-2',
    class: class,
    heading: heading,
    product: product,
  %}
{% endcomment %}

{%- assign placeholder_image = 'collection-1' -%}

<xo-product xo-product-id='{{ product.id }}' xo-section-id='{{ section.id }} data-section="{{ section.id }}'>
  <div class='feature-product-2'>
    <div class='feature-product-2__image'>
      <div class='feature-product-2__image-desktop'>
        {% render 'image', image: image_dt, aspect_ratio: aspect_ratio_dt %}
      </div>
      <div class='feature-product-2__image-mobile'>
        {% render 'image', image: image_mb, aspect_ratio: aspect_ratio_mb %}
      </div>
    </div>
    <div class='feature-product-2__body'>
      <xo-container class='feature-product-2__container'>
        <div class='feature-product-2__content'>
          <xo-animate xo-cascade>
            <div class='feature-product-2__top'>
              {% if heading != blank %}
                <div class='feature-product-2__heading {{ class }}'>{{ heading }}</div>
              {%- else -%}
                <div class='feature-product-2__heading {{ class }}'>{{ product.title }}</div>
              {% endif %}
            </div>
          </xo-animate>
          <xo-animate xo-cascade>
            <div class='feature-product-2__bottom{% if settings.enable_border_radius %} feature-product-2__bottom--radius{% endif %}'>
              {% render 'product-card-custom',
                product: product,
                show_image: section.settings.product_card_show_image,
                show_secondary_image: section.settings.product_card_show_secondary_image,
                show_price: section.settings.product_card_show_price,
                card_color_scheme: section.settings.card_color_scheme,
                media_aspect_ratio: section.settings.product_card_aspect_ratio,
                placeholder_image: placeholder_image,
                product_handle: true
              %}
            </div>
          </xo-animate>
        </div>
      </xo-container>
    </div>
  </div>
  {% comment %} {% render 'product-data', product: selected_product %} {% endcomment %}
</xo-product>
