{% comment %}
  Rennder a feature product

  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - product: {Object} Product (required)
  Usage:
  {%
    render 'feature-product-1',
    class: class,
    heading: heading,
    product: product,
  %}
{% endcomment %}

{%- assign placeholder_image = 'collection-1' -%}

<xo-product xo-product-id='{{ product.id }}' xo-section-id='{{ section.id }} data-section="{{ section.id }}'>
  <div class='feature-product-1'>
    {% if image_dt or image_mb %}
      <div class='feature-product-1__bg'>
        <xo-parallax
          class='feature-product-1__item'
          style="--url-desktop: url('{{ image_dt | image_url }}'); --aspect-ratio-desktop: {{ aspect_ratio_dt }}; --url-mobile: url('{{ image_mb | image_url }}'); --aspect-ratio-mobile: {{ aspect_ratio_mb }}"
        >
          <xo-parallax-scroll
            class='feature-product-1__image xo-background-lazyload'
            xo-keyframes="
              {
                '0%': { backgroundPositionY: '200px' },
                '100%': { backgroundPositionY: '-200px' },
              }
            "
          >
          </xo-parallax-scroll>
        </xo-parallax>
      </div>
    {%- else -%}
      <div class='feature-product-1__bg'>
        <div class='feature-product-1__item'>
          <div class='feature-product-1__image'>
            {{ 'hero-apparel-1' | placeholder_svg_tag }}
          </div>
        </div>
      </div>
    {% endif %}
    <xo-container class='feature-product-1__container'>
      <div class='feature-product-1__content-container'>
        <div class='feature-product-1__body {% if layout %}feature-product-1__body--{{ layout }}{% endif %}'>
          <div class='feature-product-1__content'>
            <xo-animate xo-cascade>
              <div class='feature-product-1__top'>
                {% if layout == 'center' %}
                  {% if sub_heading %}
                    <div class='feature-product-1__sub-heading'>
                      <p>{{ sub_heading }}</p>
                    </div>
                  {% endif %}
                {% endif %}
                {% if heading != blank %}
                  <a href='{{ product.url }}' class='feature-product-1__heading'>
                    {% render 'text',
                      class: class,
                      text: heading,
                      tag_name: tag_name,
                      effect: effect,
                      duration: duration,
                      heading_width_desktop: heading_width_desktop,
                      heading_width_mobile: heading_width_mobile
                    %}
                  </a>
                {%- else -%}
                  <a href='{{ product.url }}' class='feature-product-1__heading'>
                    {% render 'text',
                      class: class,
                      text: product.title,
                      tag_name: tag_name,
                      effect: effect,
                      duration: duration,
                      heading_width_desktop: heading_width_desktop,
                      heading_width_mobile: heading_width_mobile
                    %}
                  </a>
                {% endif %}
                <xo-animate xo-cascade class='feature-product-1__action'>
                  {% render 'button',
                    text: button.button_text,
                    link: button.button_link,
                    style: button.button_style,
                    size: button.button_size,
                    radius: settings.button_radius,
                    padding: settings.button_padding
                  %}
                </xo-animate>
              </div>
            </xo-animate>
            <xo-animate xo-cascade>
              <div class='feature-product-1__bottom {% if layout %}feature-product-1__bottom--{{ layout }}{% endif %}'>
                {% if layout == 'center' %}
                  <div class='feature-product-1__bottom-content{% if settings.enable_border_radius %} feature-product-1__bottom-content--radius{% endif %}'>
                    <div class='feature-product-1__info'>
                      <div class='featured-product-1__text'>
                        <div class='featured-product-1__name'>
                          <p>{{ product.title }}</p>
                        </div>
                        <div class='feature-product-1__price'>
                          {% if product and product != empty %}
                            {% render 'price', product: product %}
                          {%- else -%}
                            {% render 'price' %}
                          {% endif %}
                        </div>
                      </div>
                      <div class='feature-product-1__variant'>
                        {% if product and product != empty %}
                          {% if product.variants.size > 1 %}
                            {% for option in product.options_with_values %}
                              {% if option.name == 'Color' %}
                                {% render 'product-variant', option: option, style: settings.product_card_color_style, product: product %}
                                {% break %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {%- else -%}
                        {% endif %}
                      </div>
                    </div>
                    <div class='feature-product-1__button'>
                      {% if product and product != empty %}
                        <xo-cart-add
                          class='feature-product-1__add-cart'
                          {% if product.selected_or_first_available_variant.available == false %}
                            xo-disabled
                          {% endif %}
                        >
                          {% if product.selected_or_first_available_variant.available == false %}
                            {%- assign sold_out = 'onboarding.product_sold_out' | t -%}
                            <div class='feature-product-1__button-add'>
                              {% render 'button', style: 'primary', text: sold_out, size: 'md' %}
                            </div>
                          {%- else -%}
                            {%- assign add_to_cart = 'onboarding.product_add_cart' | t -%}
                            <div class='feature-product-1__button-add'>
                              {% render 'button', style: 'primary', text: add_to_cart, size: 'md' %}
                            </div>
                          {% endif %}
                        </xo-cart-add>
                      {%- else -%}
                        {%- assign add_to_cart = 'onboarding.product_add_cart' | t -%}
                        {% render 'button', style: 'primary', text: add_to_cart, size: 'md' %}
                      {% endif %}
                    </div>
                  </div>
                {%- else -%}
                  <div class='feature-product-1__bottom-product{% if settings.enable_border_radius %} feature-product-1__bottom-product--radius{% endif %}'>
                    {% render 'product-card-custom',
                      product: product,
                      show_image: section.settings.product_card_show_image,
                      show_secondary_image: section.settings.product_card_show_secondary_image,
                      show_price: section.settings.product_card_show_price,
                      card_color_scheme: section.settings.card_color_scheme,
                      media_aspect_ratio: section.settings.product_card_aspect_ratio,
                      placeholder_image: placeholder_image,
                      product_handle: true
                    %}
                  </div>
                {% endif %}
              </div>
            </xo-animate>
          </div>
        </div>
      </div>
    </xo-container>
  </div>
</xo-product>
