{% comment %}
  Renders a feature collection element with a given value

  Accepts:
  - class: {String} Font size heading (required)
  - heading: {String} Heading (required)
  - collection: {Object} Select collection (required)
  - image: {Object} Select collection (optional)
  - product_display: {Number} Prduct quantity are display (required)
  - column_desktop: {Number} Grid column desktop (required)
  - column_mobile: {Number} Grid column mobile (required)

  Usage:
  {% render 'featured-collection-3',
    class: font_size,
    heading: heading,
    collection: collection,
    image: image,
    product_display: product_display,
    column_destop: column_destop,
    column_mobile: column_mobile,
  %}
{% endcomment %}

<div class='featured-collection-3'>
  <xo-animate xo-cascade>
    <div class='featured-collection-3__head'>
      {% if heading != blank %}
        <h5 class='featured-collection-3__heading {{ class }}'>{{ heading }}</h5>
      {%- else -%}
        <h5 class='featured-collection-3__heading {{ class }}'>{{ default_heading }}</h5>
      {% endif %}
    </div>
  </xo-animate>
  {% if collection != blank %}
    <xo-grid
      class='featured-collection-3__grid'
      style='{%- if collection.products.size == 0 -%}--lg: 1;{%- else -%} --lg: {{ column_desktop }};{%- endif -%} --md: {{  column_mobile }}; --xs: {{ column_mobile }};'
    >
      {%- if collection.products.size == 0 -%}
        {%- assign title = 'sections.featured_collection.empty' | t -%}
        {% render 'collection-empty', title: title %}
      {%- else -%}
        {% for product in collection.products limit: product_display %}
          {% comment %}
            {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
            {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
          {% endcomment %}
          {%- assign placeholder_image = 'collection-1' -%}
          {% render 'product-card',
            product: product,
            show_image: settings.product_card_show_image,
            show_secondary_image: settings.product_card_show_secondary_image,
            show_vendor: settings.product_card_show_vendor,
            show_description: settings.product_card_show_description,
            show_quick_add: settings.product_card_show_quick_add,
            show_quick_view: settings.product_card_show_quick_view,
            show_favorite: settings.product_card_show_favorite,
            show_price: settings.product_card_show_price,
            show_badge: settings.product_card_show_badge,
            media_aspect_ratio: section.settings.product_card_aspect_ratio,
            color_scheme: section.settings.card_color_scheme,
            placeholder_image: placeholder_image,
            animate_enabled: true
          %}
        {% endfor %}
      {%- endif -%}
    </xo-grid>
  {%- else -%}
    <xo-animate xo-cascade>
      <xo-grid
        class='featured-collection-3__grid'
        style='{%- if collection.products.size == 0 -%}--lg: 1;{%- else -%} --lg: {{ column_desktop }};{%- endif -%} --md: {{  column_mobile }}; --xs: {{ column_mobile }};'
      >
        {% render 'product-card-placeholder', placeholder_image: placeholder_image, color_scheme: section.settings.card_color_scheme %}
        {% render 'product-card-placeholder', placeholder_image: placeholder_image, color_scheme: section.settings.card_color_scheme %}
        {% render 'product-card-placeholder', placeholder_image: placeholder_image, color_scheme: section.settings.card_color_scheme %}
        {% render 'product-card-placeholder', placeholder_image: placeholder_image, color_scheme: section.settings.card_color_scheme %}
      </xo-grid>
    </xo-animate>
  {% endif %}
  <div class='featured-collection-3__banner'>
    {% render 'collection-image',
      collection: collection,
      image_desktop: image_desktop,
      media_aspect_ratio_desktop: aspect_ratio_desktop,
      image_mobile: image_mobile,
      media_aspect_ratio_mobile: aspect_ratio_mobile,
      show_heading: false,
      color_schema_collection: color_schema_collection,
      button: button,
      show_button: true,
      animate_enabled: false
    %}
  </div>
</div>
