{% comment %}
  Renders a radio button

  Accepts:
  - name: {String} Name of the radio button
  - value: {String} Value of the radio button
  - label: {String} Label of the radio button (optional)
  - icon_size: {String} Size of the radio button. Default: 1.6rem (optional)
  - count_id: {String} Unique ID for the count element (optional, support filters)
  - count_value: {String} Value of the count element (optional, support filters)
  - checked: {Boolean} If the radio button is checked (optional)
  - style: {String} Style class to add to the radio button (optional)

  Usage:
  {% render 'field-radio-3',
  name: 'radio',
  value: 'radio',
  label: 'Radio',
  icon_size: '10px'
  %}
{% endcomment %}

<label class='xo-field-radio-3' data-button='true' tabindex='0' aria-label='{{ value | escape }}'>
  <input
    class='xo-field-radio-3__input'
    type='radio'
    name='{{ name }}'
    value='{{ value | escape }}'
    aria-label='{{ label | escape }}'
    xo-label='{{ label | escape }}'
    form='{{ form_id }}'
    {% if checked %}
      checked
    {% endif %}
  >
  <span class='xo-field-radio-3__item'>
    <span class='xo-field-radio-3__icon'></span>
  </span>
  <span class='xo-field-radio-3__label'>
    <span>{{ label | escape }}</span>
  </span>
</label>
