{% comment %}
  Renders a checkbox button

  Accepts:
  - name: {String} Name of the checkbox button
  - value: {String} Value of the checkbox button
  - label: {String} Label of the checkbox button (optional)
  - checked: {Boolean} If the radio button is checked (optional)

  Usage:
  {% render 'field-checkbox-2',
    name: 'checkbox',
    value: 'checkbox',
    label: 'Checkbox',
  %}
{% endcomment %}

<label class='xo-field-checkbox-2'>
  <input type='hidden' name='{{ name }}' value='{{ uncheck_value | escape }}'>
  <input
    class='xo-field-checkbox-2__input'
    type='checkbox'
    name='{{ name }}'
    value='{{ checked_value | escape }}'
    xo-label='{{ label | escape }}'
    {% if checked %}
      checked
    {% endif %}
    aria-label='{{ label | escape }}'
    form='{{ form_id }}'
    required
  >
  <span class='xo-field-checkbox-2__item'>
    <span class='xo-field-checkbox-2__icon'>{% render 'icon', name: 'check', size: '1.6rem' %}</span>
  </span>
  <span class='xo-field-checkbox-2__label'>
    <span>{{ label | escape }}</span>
  </span>
</label>
