{% comment %}
  Renders a textarea

  Accepts:
  - type: {String} Type of the textarea
  - name: {String} Name of the textarea
  - value: {String} Value of the textarea
  - label: {String} Label of the textarea (optional)
  - autocomplete: {String} Autocomplete of the textarea (optional)
  - autocapitalize: {String} Autocapitalize of the textarea (optional)
  - attrs: {String} Attributes of the textarea. Default: '' (optional)

  Usage:
  {% render 'field-textarea',
    name: 'textarea',
    value: 'textarea',
    label: 'textarea',
    size: '1.6rem'
  %}
{% endcomment %}

<label class='xo-field-textarea {% if settings.enable_border_radius %}xo-field-textarea--radius{% endif %}' for='{{ id }}'>
  <textarea
    class='xo-field-textarea__textarea'
    name='{{ name }}'
    {% if placeholder %}
      placeholder='{{ placeholder }}'
    {% endif %}
    {% if autocomplete %}
      autocomplete='{{ autocomplete -}}'
    {% endif %}
    {% if autocapitalize %}
      autocapitalize='{{ autocapitalize -}}'
    {% endif %}
    {% if attr %}
      {{ attr -}}
    {% endif %}
    {% if required %}
      required
    {% endif %}
    id='{{ id }}'
  >{{ value }}</textarea>
</label>
