{% comment %}
  Renders a grid block

  Accepts:
  - content: {String} Content (required)
  - desktop_col: {Number} Desktop column (required)
  - mobile_col: {Number} Mobile column (required)
  - auto_row: {Boolean} Auto row (required)
  - fixed_row: {Boolean} Fixed row (required)

  Usage:
  {% render 'grid-block',
    content: content,
    desktop_col: 3,
    mobile_col: 2,
    auto_row: true,
    fixed_row: false
  %}
{% endcomment %}

{% liquid
  assign style_start = 'data-style-start="'
  assign style_end = '" data-style-end'
  assign column_space = '<template data-column-space></template>'
  assign column_contents = content | split: column_space
  assign final_content = ''

  for column_content in column_contents
    assign style = column_content | split: style_start | last | split: style_end | first
    assign class_and_style = 'xo-column-2" style="' | append: style | append: '"'
    assign template = '<template data-style-start="' | append: style | append: '" data-style-end></template>'
    assign final_column_content = column_content | replace: template, ''
    assign final_column_content = final_column_content | replace: 'xo-column-2"', class_and_style
    assign final_content = final_content | append: final_column_content
  endfor

  assign fixed_row_class = ''
  if fixed_row == true
    assign fixed_row_class = ' xo-grid-2--fixed-row'
  endif
%}

<div
  class='xo-grid-2{{ fixed_row_class }}'
  style='
    --xo-col-desktop: {{ desktop_col }};
    --xo-col-tablet: {{ tablet_col }};
    --xo-col-mobile: {{ mobile_col }};
    --xo-auto-row: {{ auto_row }}
  '
>
  {{ final_content }}
</div>
