{% comment %}
  Renders a image with text

  Accepts:
  - block: {Object} Block (required)
  - image_dt: {String} Image desktop (required)
  - aspect_ratio_dt: {String} Aspect ratio desktop (required)
  - image_mb: {String} Image mobile (required)
  - aspect_ratio_mb: {String} Aspect ratio mobile (required)
  - color_schema: {String} Color schema (required)
  - heading: {String} Heading (required)
  - class: {String} Class (required)
  - button: {Object} Button (required)

  Usage:
  {% render 'image-with-text-block',
    image_dt: image_dt,
    aspect_ratio_dt: aspect_ratio_dt,
    image_mb: image_mb,
    aspect_ratio_mb: aspect_ratio_mb,
    color_schema: color_schema,
    heading: heading,
    class: class,
    button: button
  %}
{% endcomment %}

<div class='image-with-text-block{% if settings.enable_border_radius %} image-with-text-block--radius{% endif %}' tabindex='0'>
  <div class='image-with-text-block__content {% if color_scheme %} color-{{ color_scheme }} {% endif %}' style='--opacity: {{ background_overlay }}'>
    {% if video_enable %}
      <div class='image-with-text-block__video' style='--aspect-ratio: {{ aspect_ratio_dt }}; --aspect-ratio-mb: {{ aspect_ratio_mb }};'>
        {% render 'video-button', video: video, video_url: video_url, cover_image: cover_image, button: button, enable_video_looping: enable_video_looping, button_enable: false %}
      </div>
    {% else %}
      <a href='{{ button.button_link }}' class='image-with-text-block__link' title='Image button'>
        <div class='image-with-text-block__image image-with-text-block__image--desktop'>
          {% render 'animate-image', image: image_dt, border_radius: 0, aspect_ratio: aspect_ratio_dt, disable_alt: true, max_width: 100 %}
        </div>
        <div class='image-with-text-block__image image-with-text-block__image--mobile'>
          {% render 'animate-image', image: image_mb, border_radius: 0, aspect_ratio: aspect_ratio_mb, disable_alt: true, max_width: 100 %}
        </div>
      </a>
    {% endif %}
    <div class='image-with-text-block__text{% if placement %} image-with-text-block__text--{{ placement }}{% endif %}{% if alignment %} image-with-text-block__text--{{ alignment }}{% endif %}{% if space_between %} image-with-text-block__text--modifier{% endif %}'>
      {% if heading %}
        <div class='image-with-text-block__heading'>
          {% render 'text',
            class: class,
            text: heading,
            tag_name: tag_name,
            effect: effect,
            duration: duration,
            heading_width_desktop: heading_width_desktop,
            heading_width_mobile: heading_width_mobile
          %}
        </div>
      {% endif %}
      <xo-animate xo-cascade>
        <div class='image-with-text-block__button'>
          {% render 'button',
            text: button.button_text,
            link: button.button_link,
            style: button.button_style,
            size: button.button_size,
            radius: settings.button_radius,
            padding: settings.button_padding
          %}
        </div>
      </xo-animate>
    </div>
  </div>
</div>
