{% comment %}
  Accepts:
  - title: {Text} Title (required)
  - nav: {Button} Nav link (required)
  Usage:
  {% render 'link-list-3', title: title, nav: link %}
{% endcomment %}

<div class='link-list-3'>
  <div class='link-list-3__desktop'>
    <div class='link-list-3__item'>
      <h6 class='link-list-3__title'>{{ title }}</h6>
      <ul class='link-list-3__nav'>
        {% for link in menu.links %}
          <li class='link-list-3__nav-item'>
            <a href='{{ link.url }}'>{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='link-list-3__mobile'>
    <div class='link-list-3__item'>
      <xo-collapse-trigger xo-name='{{ title }}' class='link-list-3__header'>
        <h3 class='link-list-3__title'>{{ title }}</h3>
        <div class='link-list-3__icon'>
          {% render 'icon', name: 'chevron-down', size: '2.4rem' %}
        </div>
      </xo-collapse-trigger>
      <xo-collapse xo-name='{{ title }}'>
        <ul class='link-list-3__nav'>
          {% for link in menu.links %}
            <li class='link-list-3__nav-item'>
              <a href='{{ link.url }}'>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </xo-collapse>
    </div>
  </div>
</div>
