{% comment %}
  Renders a horizontal menu

  Accepts:
  - menu: {Object} Menu object
  - event_type: {'hover' | 'click'} Event type to trigger the menu. Default: 'hover' (optional)

  Usage:
  {% render 'menu-horizontal', menu: section.settings.menu %}
{% endcomment %}

{% liquid
  unless event_type
    assign event_type = 'hover'
  endunless

  assign bubble_blocks = blocks | where: 'type', 'bubble'
%}

{% if menu != blank %}
  <ul class='xo-menu-horizontal list-unstyled{% if event_type == 'hover' %} xo-menu-horizontal--hover{% else %} xo-menu-horizontal--click{% endif %}{% if menu.links.size > 8 %} xo-menu-horizontal--modifier{% endif %}'>
    {% for link in menu.links %}
      {% assign link_index = forloop.index %}
      <li
        class='xo-menu-horizontal__item xo-menu-horizontal__item--first{% if event_type == 'hover' %} xo-menu-horizontal__item--hover{% else %} xo-menu-horizontal__item--click{% endif %}{% if link.current %} xo-menu-horizontal__item--current{% endif %}'
        xo-measure
        xo-measure-parent-selector='.xo-header__content'
      >
        <a
          class='xo-menu-horizontal__link'
          href='{{ link.url }}'
          {% if link.current %}
            aria-current='page'
          {% endif %}
        >
          <span class='xo-menu-horizontal__label'>
            {{ link.title }}
          </span>
          {% if link.links != blank %}
            <span class='xo-menu-horizontal__arrow xo-menu-horizontal__arrow--first'>
              {% render 'icon', name: 'arrow-down', size: '1.6rem' %}
            </span>
          {% else %}
            <span class='xo-menu-horizontal__arrow xo-menu-horizontal__arrow--mega-menu'>
              {% render 'icon', name: 'arrow-down', size: '1.6rem' %}
            </span>
          {% endif %}
          {% for bubble in bubble_blocks %}
            {% assign bind_to_main_menu = bubble.settings.bind_to_main_menu | plus: 0 %}
            {% if bind_to_main_menu == link_index %}
              {% render 'bubble',
                bubble_label: bubble.settings.bubble_label,
                custom_icon: bubble.settings.custom_icon,
                background_color: bubble.settings.background_color,
                foreground_color: bubble.settings.foreground_color,
                bubble_position: bubble.settings.bubble_position
              %}
            {% endif %}
          {% endfor %}
        </a>
        <xo-mega-menu class='xo-menu-horizontal__mega-menu' xo-name='header-mega-menu' xo-index='{{ forloop.index0 }}'></xo-mega-menu>
        {% if link.links != blank %}
          <ul class='xo-menu-horizontal__sub-menu xo-menu-horizontal__sub-menu--second list-unstyled'>
            {% for childlink in link.links %}
              <li class='xo-menu-horizontal__item xo-menu-horizontal__item--sub xo-menu-horizontal__item--sub-second{% if event_type == 'hover' %} xo-menu-horizontal__item--hover{% else %} xo-menu-horizontal__item--click{% endif %}{% if childlink.current %} xo-menu-horizontal__item--current{% endif %}'>
                <a
                  class='xo-menu-horizontal__link xo-menu-horizontal__link--sub'
                  href='{{ childlink.url }}'
                  {% if childlink.current %}
                    aria-current='page'
                  {% endif %}
                >
                  <span class='xo-menu-horizontal__label'>
                    {{ childlink.title }}
                  </span>
                  {% if childlink.links != blank %}
                    <span class='xo-menu-horizontal__icon'>
                      <span class='xo-menu-horizontal__arrow xo-menu-horizontal__arrow--before'>
                        {% render 'icon', name: 'chevron-right', size: '1.6rem' %}
                      </span>
                      <span class='xo-menu-horizontal__arrow xo-menu-horizontal__arrow--after'>
                        {% render 'icon', name: 'chevron-right', size: '1.6rem' %}
                      </span>
                    </span>
                  {% endif %}
                </a>
                {% if childlink.links != blank %}
                  <div class='xo-menu-horizontal__sub-menu xo-menu-horizontal__sub-menu--third list-unstyled'>
                    <ul class='xo-menu-horizontal__sub-menu-last'>
                      {% for grandchildlink in childlink.links %}
                        <li class='xo-menu-horizontal__item xo-menu-horizontal__item--sub{% if grandchildlink.current %} xo-menu-horizontal__item--current{% endif %}'>
                          <a
                            class='xo-menu-horizontal__link xo-menu-horizontal__link--sub'
                            href='{{ grandchildlink.url }}'
                            {% if grandchildlink.current %}
                              aria-current='page'
                            {% endif %}
                          >
                            <span class='xo-menu-horizontal__label'>
                              {{ grandchildlink.title }}
                            </span>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
            <li class='xo-menu-horizontal__polygon'>
              {% render 'icon', name: 'polygon' %}
            </li>
            <li class='xo-menu-horizontal__border'>
              {% render 'icon', name: 'border' %}
            </li>
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
