{% comment %}
  Renders a list multi column

  Accepts:
  - image: {Object} Image (required)
  - title: {String} Title (required)
  - number: {Number} Number (required)

  Usage:
  {% render 'multi-column-1', title: title, block: block %}
{% endcomment %}

{%- if layout == 'style-2' -%}
  {%- capture class_1 -%}
      multi-column-1__header--style-2
    {%- endcapture -%}
  {%- capture class_2 -%}
      multi-column-1__content--style-2
    {%- endcapture -%}
  {%- capture class_3 -%}
      multi-column-1__item--style-2
    {%- endcapture -%}
{% endif %}

<div class='multi-column-1'>
  <div class='multi-column-1__header {{ class_1 }}'>
    {% render 'heading-multi-column',
      class: class,
      heading: heading,
      tag_name: tag_name,
      effect: effect,
      duration: duration,
      heading_width_desktop: heading_width_desktop,
      heading_width_mobile: heading_width_mobile,
      layout: layout,
      column: 12
    %}
  </div>
  <div class='multi-column-1__body'>
    <div class='multi-column-1__desktop'>
      <xo-grid class='multi-column-1__grid' style='--lg: {{ column }}; --md: {{ column }}; --xs: 2'>
        {% for item in block %}
          {% liquid
            assign image_first = item.settings.image_first
            assign image_first_on_dark_mode = item.settings.image_first_on_dark_mode
            assign aspect_ratio_first = item.settings.aspect_ratio_first
            assign image_second = item.settings.image_second
            assign image_second_on_dark_mode = item.settings.image_second_on_dark_mode
            assign aspect_ratio_second = item.settings.aspect_ratio_second
            assign title = item.settings.title
            assign enable_overlay = item.settings.enable_overlay
            assign number = forloop.index0 | plus: 1 | prepend: '00' | slice: -2, 2
          %}
          <xo-animate
            xo-cascade
            xo-order='{{ forloop.index }}'
            class='multi-column-1__item {{ class_3 }}{% if settings.enable_border_radius %} multi-column-1__item--radius{% endif %}'
          >
            <div class='multi-column-1__image{% if settings.enable_border_radius %} multi-column-1__image--radius{% endif %}'>
              {% render 'image', image: image_first, aspect_ratio: aspect_ratio_first %}
            </div>
            <div class='multi-column-1__image multi-column-1__image--dark-mode{% if settings.enable_border_radius %} multi-column-1__image--radius{% endif %}'>
              {% render 'image', image: image_first_on_dark_mode, aspect_ratio: aspect_ratio_first %}
            </div>
            <div class='multi-column-1__image multi-column-1__image--second{% if settings.enable_border_radius %} multi-column-1__image--radius{% endif %}'>
              {% render 'image', image: image_second, aspect_ratio: aspect_ratio_second %}
            </div>
            <div class='multi-column-1__image multi-column-1__image--second multi-column-1__image--dark-mode{% if settings.enable_border_radius %} multi-column-1__image--radius{% endif %}'>
              {% render 'image', image: image_second_on_dark_mode, aspect_ratio: aspect_ratio_second %}
            </div>
            <div class='multi-column-1__content {{ class_2 }}'>
              <div class='multi-column-1__number'>
                <p>{{ number }}</p>
              </div>
              <div class='multi-column-1__title{% if settings.enable_border_radius %} multi-column-1__title--radius{% endif %}{% if enable_overlay == 'on' %} multi-column-1__title--overlay{% endif %}'>
                <p>{{ title }}</p>
              </div>
            </div>
          </xo-animate>
        {% endfor %}
      </xo-grid>
    </div>
    <div class='multi-column-1__mobile'>
      <xo-carousel
        xo-per-view='1'
        xo-per-move='1'
        xo-breakpoints='
          {
            767: {
              perView: 1,
              perMove: 1,
              gap: 10,
              overflow: "visible"
            },
            768: {
              perView: 2,
              perMove: 1,
              gap: 10,
              overflow: "visible"
            },
          }
        '
        {% if layout == 'style-2' %}
          xo-render-bullet="<span class='carousel-bullet'></span>"
        {% endif %}
      >
        <xo-carousel-inner>
          <xo-carousel-list>
            {% for item in block %}
              {% liquid
                assign image_first = item.settings.image_first
                assign image_second = item.settings.image_second
                assign aspect_ratio_first = item.settings.aspect_ratio_first
                assign aspect_ratio_second = item.settings.aspect_ratio_second
                assign title = item.settings.title
                assign enable_overlay = item.settings.enable_overlay
                assign number = forloop.index0 | plus: 1 | prepend: '00' | slice: -2, 2
              %}
              <xo-carousel-slide>
                <div class='multi-column-1__item {{ class_3 }}{% if settings.enable_border_radius %} multi-column-1__item--radius{% endif %}'>
                  <div class='multi-column-1__image {% if settings.enable_border_radius %}multi-column-1__image--radius{% endif %}'>
                    {% render 'image', image: image_first, aspect_ratio: aspect_ratio_first %}
                  </div>
                  <div class='multi-column-1__image-second{% if settings.enable_border_radius %} multi-column-1__image-second--radius{% endif %}'>
                    {% render 'image', image: image_second, aspect_ratio: aspect_ratio_second %}
                  </div>
                  <div class='multi-column-1__content {{ class_2 }}'>
                    <div class='multi-column-1__number'>
                      <p>{{ number }}</p>
                    </div>
                    <div class='multi-column-1__title{% if settings.enable_border_radius %} multi-column-1__title--radius{% endif %}{% if enable_overlay == 'on' %} multi-column-1__title--overlay{% endif %}'>
                      <p>{{ title }}</p>
                    </div>
                  </div>
                </div>
              </xo-carousel-slide>
            {% endfor %}
          </xo-carousel-list>
        </xo-carousel-inner>
        {% if layout == 'style-2' %}
          {% render 'carousel-pagination', align: 'center', style: 'sticks' %}
        {% endif %}
      </xo-carousel>
    </div>
  </div>
</div>
