{% comment %}
  Renders a page heading.

  Accepts:
  - span: {String} span (optional)
  Usage:
  {% render 'navigation-style' %}
{% endcomment %}
{%- capture navigation_attr -%}
  class='navigation-style
    {%- if class %} navigation-style--{{ class }}{% endif -%}
    {%- if style %} navigation-style--{{ style }}{% endif -%}
    {%- if position %} navigation-style--{{ position }}{% endif -%}
    {%- if class %} {{ class }}{% endif -%}
  '
{%- endcapture -%}
<span {{ navigation_attr }}></span>
