<div class='xo-order-bill'>
  <div class='xo-order-bill__body'>
    <div class='xo-order-bill__title'>
      {{ 'customer.order.billing_address' | t }}
    </div>
    <div class='xo-order-bill__content'>
      <div class='xo-order-bill__payment-status'>
        <span class='xo-order-bill__text'> {{ 'customer.order.payment_status' | t }}: </span>
        {{ order.financial_status_label }}
      </div>
      {% if customer.name != blank %}
        <xo-animate xo-cascade>
          <div class='xo-order-bill__item'>
            <div class='xo-order-bill__icon'>
              {% render 'icon', name: 'account', size: '1.8rem' %}
            </div>
            <div class='xo-order-bill__text'>
              {{ customer.name | capitalize }}
            </div>
          </div>
        </xo-animate>
      {% endif %}
      {% if order.billing_address.phone != blank %}
        <xo-animate xo-cascade>
          <div class='xo-order-bill__item'>
            <div class='xo-order-bill__icon'>
              {% render 'icon', name: 'phone', size: '2.4rem' %}
            </div>
            <div class='xo-order-bill__text'>{{ order.billing_address.phone }}</div>
          </div>
        </xo-animate>
      {% endif %}
      {% if order.billing_address.company != blank or order.billing_address.street != blank or order.billing_address.city != blank %}
        <xo-animate xo-cascade>
          <div class='xo-order-bill__item'>
            <div class='xo-order-bill__icon'>
              {% render 'icon', name: 'location', size: '2.4rem' %}
            </div>
            <div class='xo-order-bill__text'>
              {{- order.billing_address.company }}
              {{ order.billing_address.street }}
              {{ order.billing_address.city | capitalize }}
            </div>
          </div>
        </xo-animate>
      {% endif %}
    </div>
  </div>
  <div class='xo-order-bill__shipping'>
    <div class='xo-order-bill__title'>{{ 'customer.order.shipping_address' | t }}</div>
    <div class='xo-order-bill__content'>
      <div class='xo-order-bill__payment-status'>
        <span class='xo-order-bill__text'>{{ 'customer.order.fulfillment_status' | t }}:</span>
        {{ order.fulfillment_status_label }}
      </div>
      {% if order.shipping_address.name != blank %}
        <xo-animate xo-cascade>
          <div class='xo-order-bill__item'>
            <div class='xo-order-bill__icon'>
              {% render 'icon', name: 'account', size: '1.8rem' %}
            </div>
            <div class='xo-order-bill__text'>
              {{ order.shipping_address.name | capitalize }}
            </div>
          </div>
        </xo-animate>
      {% endif %}
      {% if order.billing_address.phone != blank %}
        <xo-animate xo-cascade>
          <div class='xo-order-bill__item'>
            <div class='xo-order-bill__icon'>
              {% render 'icon', name: 'phone', size: '2.4rem' %}
            </div>
            <div class='xo-order-bill__text'>{{ order.shipping_address.phone }}</div>
          </div>
        </xo-animate>
      {% endif %}
      {% if order.shipping_address.company != blank or order.shipping_address.street != blank or order.shipping_address.city != blank %}
        <xo-animate xo-cascade>
          <div class='xo-order-bill__item'>
            <div class='xo-order-bill__icon'>
              {% render 'icon', name: 'location', size: '2.4rem' %}
            </div>
            <div class='xo-order-bill__text'>
              {{- order.shipping_address.company }}
              {{ order.shipping_address.street }}
              {{ order.shipping_address.city | capitalize }}
            </div>
          </div>
        </xo-animate>
      {% endif %}
    </div>
  </div>
</div>
