{% comment %}
  Renders a page heading.

  Accepts:
  - heading: {String} Title of the page (optional)
  - class: {String} Font size heading (optional)
  - sub_heading: {String} Description of the page (optional)
  - align: {String} Alignment of the page heading (optional)
  - padding_top_dt: {String} Spacing top desktop (optional)
  - padding_bottom_dt: {String} Spacing bottom desktop (optional)
  - padding_top_mb: {String} Spacing top mobile (optional)
  - padding_bottom_mb: {String} Spacing bottom mobile (optional)

  Usage:
  {% render 'page-heading-2', class: class, heading: heading, sub_heading: sub_heading, align: align, padding_top_dt: padding_top_dt, padding_bottom_dt: padding_bottom_dt, padding_top_mb: padding_top_mb, padding_bottom_mb: padding_bottom_mb, %}
{% endcomment %}

{%- assign default_heading = '' -%}

{% if template.name == 'collection' and collection.handle %}
  {% if current_tags %}
    {%- assign default_heading = current_tags | join: ' + ' | escape -%}
  {% else %}
    {%- assign default_heading = collection.title | escape -%}
  {% endif %}
{% else %}
  {%- assign default_heading = page_title | escape -%}
{% endif %}

{% liquid
  assign text = ''
  if heading != blank
    assign text = heading
  else
    assign text = default_heading
  endif
%}

<div class='page-heading-2{% if align %} page-heading-2--{{ align }}{% endif %}'>
  {% if enable_effect %}
    <div class='page-heading-2__heading'>
      {% render 'text', class: class, text: text, tag_name: tag_name, effect: effect, duration: duration %}
      {% if show_count_number %}
        <xo-animate xo-cascade xo-delay='{{ duration }}' xo-duration='{{ duration }}'>
          {% if template.name == 'list-collection' %}
            <span class='page-heading-2__count'>({{ collections.size }})</span>
          {% else %}
            <span class='page-heading-2__count'>({{ collection.all_products_count }})</span>
          {% endif %}
        </xo-animate>
      {% endif %}
    </div>
    {% if sub_heading != blank %}
      <xo-animate xo-cascade xo-constant='150' xo-duration='500'>
        <div class='page-heading-2__sub-heading{% if sub_heading_style %} page-heading-2__sub-heading--{{ sub_heading_style }}{% endif %}'>
          {{ sub_heading }}
        </div>
      </xo-animate>
    {%- else -%}
      {% if show_description_collection %}
        <xo-animate xo-cascade xo-constant='150' xo-duration='500'>
          <div class='page-heading-2__sub-heading{% if sub_heading_style %} page-heading-2__sub-heading--{{ sub_heading_style }}{% endif %}'>
            {{ collection.description }}
          </div>
        </xo-animate>
      {% endif %}
    {% endif %}
  {%- else -%}
    <xo-animate xo-cascade xo-constant='150' xo-duration='500'>
      <h3 class='page-heading-2__heading {{ class }}'>
        {% if heading != blank %}
          {{ heading }}
        {% else %}
          {{ default_heading }}
        {% endif %}
        {% if show_count_number %}
          <xo-animate xo-cascade xo-duration='{{ duration }}' xo-delay='{{ duration }}'>
            {% if template.name == 'list-collection' %}
              <span class='page-heading-2__count'>({{ collections.size }})</span>
            {% else %}
              <span class='page-heading-2__count'>({{ collection.all_products_count }})</span>
            {% endif %}
          </xo-animate>
        {% endif %}
      </h3>
    </xo-animate>
    {% if sub_heading != blank %}
      <xo-animate xo-cascade xo-constant='150' xo-duration='500'>
        <div class='page-heading-2__sub-heading{% if sub_heading_style %} page-heading-2__sub-heading--{{ sub_heading_style }}{% endif %}'>
          {{ sub_heading }}
        </div>
      </xo-animate>
    {%- else -%}
      {% if show_description_collection %}
        <xo-animate xo-cascade xo-constant='150' xo-duration='500'>
          <div class='page-heading-2__sub-heading{% if sub_heading_style %} page-heading-2__sub-heading--{{ sub_heading_style }}{% endif %}'>
            {{ collection.description }}
          </div>
        </xo-animate>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
