{% comment %}
  Renders a product featured element with a given value

  Accepts:
  - heading: {String} Heading (required)
  - image: {String} Icon featured (required)
  - title: {String} Title featured (required)
  - sub_title: {Object} Subtitle featured (required)

  Usage:
  {% render 'product-featured-1',
    heading: heading,
    image: image,
    sub_title: sub_title,
    title: title,
  %}
{% endcomment %}

<xo-animate xo-cascade style="height: 100%;">
  <div class='product-featured-1'>
    <div class='product-featured-1__box'>
      <div class='product-featured-1__left'>
        {% if heading %}
          <h6 class='product-featured-1__heading h6'>{{ heading }}</h6>
        {% endif %}
        <div class='product-featured-1__featured'>
          <div class='product-featured-1__item'>
            {% if sub_title_1 %}
              <div class='product-featured-1__sub-title'>
                <p>{{ sub_title_1 }}</p>
              </div>
            {% endif %}
            {% if title_1 %}
              <h5 class='product-featured-1__title h5'>{{ title_1 }}</h5>
            {% endif %}
          </div>
          <div class='product-featured-1__item'>
            {% if sub_title_2 %}
              <div class='product-featured-1__sub-title'>
                <p>{{ sub_title_2 }}</p>
              </div>
            {% endif %}
            {% if title_2 %}
              <h5 class='product-featured-1__title h5'>{{ title_2 }}</h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class='product-featured-1__right'>
        <div class='product-featured-1__image product-featured-1__image--desktop'>
          {% render 'image', image: image_desktop %}
        </div>
        <div class='product-featured-1__image product-featured-1__image--mobile'>
          {% render 'image', image: image_mobile %}
        </div>
      </div>
    </div>
  </div>
</xo-animate>
