{% comment %}
  Renders a product special element with a given value

  Accepts:
  - sub_heading: {String} Subheading (required)
  - block: {Object} Block (required)

  Usage:
  {% render 'product-specification-14', sub_heading: sub_heading, block: block %}
{% endcomment %}

<div class='product-specification-14{% if layout %} product-specification-14--with-{{ layout }}{% endif %}'>
  <xo-container class='product-specification-14__container'>
    <div class='product-specification-14__content'>
      <xo-animate xo-cascade>
        <div class='product-specification-14__head'>
          {% if heading %}
            <h3 class='product-specification-14__heading {{ class }}'>{{ heading }}</h3>
          {% endif %}
        </div>
      </xo-animate>
      <div class='product-specification-14__bottom{% if layout == 'image' %} {% if settings.enable_border_radius %}product-specification-14__bottom--radius{% endif %} {% if color_schema_box %}color-{{ color_schema_box }}{% endif %} {% endif %}'>
        {% if layout == 'product' %}
          <div class='product-specification-14__desktop'>
            <xo-grid class='product-specification-14__grid'>
              <xo-animate xo-cascade style='--lg: 5; --md: 12; --xs: 12'>
                <div class='product-specification-14__left'>
                  {% for item in block %}
                    {% case item.type %}
                      {% when 'detail-infomation-1' %}
                        {% render 'product-special',
                          caption: item.settings.caption,
                          class: item.settings.font_size_heading,
                          sub_heading_1: item.settings.sub_heading_1,
                          heading_1: item.settings.heading_1,
                          sub_heading_2: item.settings.sub_heading_2,
                          heading_2: item.settings.heading_2,
                          color_schema_box: item.settings.color_schema_box
                        %}
                    {% endcase %}
                  {% endfor %}
                </div>
              </xo-animate>
              <xo-animate xo-cascade style='--lg: 3; --md: 12; --xs: 12'>
                <div class='product-specification-14__center'>
                  {% for item in block %}
                    {% case item.type %}
                      {% when 'product' %}
                        {%- assign placeholder_image = 'collection-1' -%}
                        {% render 'product-card',
                          product: item.settings.product,
                          show_image: settings.product_card_show_image,
                          show_secondary_image: settings.product_card_show_secondary_image,
                          show_vendor: settings.product_card_show_vendor,
                          show_description: settings.product_card_show_description,
                          show_quick_add: settings.product_card_show_quick_add,
                          show_quick_view: settings.product_card_show_quick_view,
                          show_favorite: settings.product_card_show_favorite,
                          show_price: settings.product_card_show_price,
                          show_badge: settings.product_card_show_badge,
                          media_aspect_ratio: item.settings.product_card_aspect_ratio,
                          color_scheme: item.settings.card_color_scheme,
                          placeholder_image: placeholder_image,
                          product_handle: true
                        -%}
                    {% endcase %}
                  {% endfor %}
                </div>
              </xo-animate>
              <xo-animate xo-cascade style='--lg: 4; --md: 12; --xs: 12'>
                <div class='product-specification-14__right'>
                  {% for item in block %}
                    {% case item.type %}
                      {% when 'detail-infomation-2' %}
                        {% liquid
                          assign caption = item.settings.caption
                          assign color_schema_box = item.settings.color_schema_box
                          assign title_list = item.settings.title_list
                          assign content_list = item.settings.content_list
                        %}
                        {% render 'product-information', caption: caption, color_schema_box: color_schema_box, title_list: title_list, content_list: content_list %}
                    {% endcase %}
                  {% endfor %}
                </div>
              </xo-animate>
            </xo-grid>
          </div>
          <div class='product-specification-14__mobile'>
            <xo-carousel
              xo-per-view='1'
              xo-per-move='1'
              {% if autoplay == 'on' %}
                xo-autoplay='{{ autoplay_time }}'
                xo-loop
              {% endif %}
              xo-breakpoints='
                {
                  767: {
                    perView: 1,
                    perMove: 1,
                    gap: 10,
                    overflow: "visible"
                  },
                  768: {
                    perView: 2,
                    perMove: 1,
                    gap: 10,
                    overflow: "visible"
                  },
                  992: {
                    perView: 2,
                    perMove: 1,
                    gap: 10,
                    overflow: "visible"
                  },
                }
              '
              class='product-specification-14__carousel'
            >
              <xo-carousel-inner>
                <xo-carousel-list>
                  <xo-carousel-slide>
                    <div class='product-specification-14__left'>
                      {% for item in block %}
                        {% case item.type %}
                          {% when 'detail-infomation-1' %}
                            {% render 'product-special',
                              caption: item.settings.caption,
                              class: item.settings.font_size_heading,
                              sub_heading_1: item.settings.sub_heading_1,
                              heading_1: item.settings.heading_1,
                              sub_heading_2: item.settings.sub_heading_2,
                              heading_2: item.settings.heading_2,
                              color_schema_box: item.settings.color_schema_box
                            %}
                        {% endcase %}
                      {% endfor %}
                    </div>
                  </xo-carousel-slide>
                  <xo-carousel-slide>
                    <div class='product-specification-14__center'>
                      {% for item in block %}
                        {% case item.type %}
                          {% when 'product' %}
                            {%- assign placeholder_image = 'collection-1' -%}
                            {% render 'product-card',
                              product: item.settings.product,
                              show_image: settings.product_card_show_image,
                              show_secondary_image: settings.product_card_show_secondary_image,
                              show_vendor: settings.product_card_show_vendor,
                              show_description: settings.product_card_show_description,
                              show_quick_add: settings.product_card_show_quick_add,
                              show_quick_view: settings.product_card_show_quick_view,
                              show_favorite: settings.product_card_show_favorite,
                              show_price: settings.product_card_show_price,
                              show_badge: settings.product_card_show_badge,
                              media_aspect_ratio: item.settings.product_card_aspect_ratio,
                              color_scheme: item.settings.card_color_scheme,
                              placeholder_image: placeholder_image,
                              product_handle: true
                            -%}
                        {% endcase %}
                      {% endfor %}
                    </div>
                  </xo-carousel-slide>
                  <xo-carousel-slide>
                    <div class='product-specification-14__right'>
                      {% for item in block %}
                        {% case item.type %}
                          {% when 'detail-infomation-2' %}
                            {% liquid
                              assign caption = item.settings.caption
                              assign color_schema_box = item.settings.color_schema_box
                              assign title_list = item.settings.title_list
                              assign content_list = item.settings.content_list
                            %}
                            {% render 'product-information', caption: caption, color_schema_box: color_schema_box, title_list: title_list, content_list: content_list %}
                        {% endcase %}
                      {% endfor %}
                    </div>
                  </xo-carousel-slide>
                </xo-carousel-list>
              </xo-carousel-inner>
            </xo-carousel>
          </div>
        {%- else -%}
          <xo-grid class='product-specification-14__grid'>
            <div class='product-specification-14__left' style='--xs: 3; --lg: 4; --md: 12; --xs: 12'>
              {% for item in block %}
                {% case item.type %}
                  {% when 'detail-infomation-1' %}
                    {% liquid
                      assign sub_heading_1 = item.settings.sub_heading_1
                      assign heading_1 = item.settings.heading_1
                      assign sub_heading_2 = item.settings.sub_heading_2
                      assign heading_2 = item.settings.heading_2
                      assign class = item.settings.font_size_heading
                    %}
                    {% render 'product-special', class: class, sub_heading_1: sub_heading_1, heading_1: heading_1, sub_heading_2: sub_heading_2, heading_2: heading_2 %}
                {% endcase %}
              {% endfor %}
            </div>
            <div class='product-specification-14__center' style='--xs: 5; --lg: 4; --md: 12; --xs: 12'>
              {% for item in block %}
                {% case item.type %}
                  {% when 'detail-infomation-2' %}
                    {% liquid
                      assign sub_heading = item.settings.sub_heading
                      assign title_list = item.settings.title_list
                      assign content_list = item.settings.content_list
                    %}
                    {% render 'product-information', caption: sub_heading, title_list: title_list, content_list: content_list %}
                {% endcase %}
              {% endfor %}
            </div>
            <div
              class='product-specification-14__right {% if settings.enable_border_radius %}product-specification-14__right--radius{% endif %}'
              style='--xl: 4; --lg: 4; --md: 12; --xs: 12'
            >
              {% for item in block %}
                {% case item.type %}
                  {% when 'image' %}
                    {% liquid
                      assign image = item.settings.image
                    %}
                    {% render 'image', image: image %}
                {% endcase %}
              {% endfor %}
            </div>
          </xo-grid>
        {% endif %}
      </div>
    </div>
  </xo-container>
</div>
