{% comment %}
  Renders a product featured element with a given value

  Accepts:
  - class: {String} Font size heading (optional)
  - heading: {String} Heading (optional)
  - image: {String} Icon featured (required)
  - title: {String} Title featured (required)
  - button: {Object} Button (optional)

  Usage:
  {% render 'product-featured',
    class: font_size,
    heading: heading,
    image: image,
    title: title,
    button: button
  %}
{% endcomment %}

<xo-animate xo-cascade style='height: 100%;'>
  <div class='product-featured {% if settings.enable_border_radius %}product-featured--radius{% endif %}'>
    <div class='product-featured__head'>
      {% if heading %}
        <h3 class='product-featured__heading {{ class }}'>{{ heading }}</h3>
      {% endif %}
      {% if show_button %}
        <div class='product-featured__button'>
          {% render 'button',
            text: button.button_text,
            link: button.button_link,
            style: button.button_style,
            size: button.button_size,
            radius: settings.button_radius,
            padding: settings.button_padding
          %}
        </div>
      {% endif %}
    </div>
    <div class='product-featured__bottom'>
      <div class='product-featured__item'>
        <div class='product-featured__image{% if color_config_enable %} product-featured__image--modifier{% endif %}'>
          {% render 'image', image: image_1 %}
        </div>
        {% if title_1 %}
          <div class='product-featured__title'>
            {{ title_1 }}
          </div>
        {% endif %}
      </div>
      <div class='product-featured__item'>
        <div class='product-featured__image{% if color_config_enable %} product-featured__image--modifier{% endif %}'>
          {% render 'image', image: image_2 %}
        </div>
        {% if title_2 %}
          <div class='product-featured__title'>
            {{ title_2 }}
          </div>
        {% endif %}
      </div>
      <div class='product-featured__item'>
        <div class='product-featured__image{% if color_config_enable %} product-featured__image--modifier{% endif %}'>
          {% render 'image', image: image_3 %}
        </div>
        {% if title_3 %}
          <div class='product-featured__title'>
            {{ title_3 }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</xo-animate>
