{% comment %}
  Renders a product card placeholder.

  Accepts:
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-1' (optional)

  Usage:
  {% render 'product-card-placeholder', placeholder_image: placeholder_image %}
{% endcomment %}

{% liquid
  assign quick_view_tooltip = 'products.product.quick_view' | t
  assign add_to_cart_tooltip = 'products.product.add_to_cart' | t

  if is_bundle
    assign add_to_cart_tooltip = 'products.product.button_bundle_text' | t
  endif

  if product.selected_or_first_available_variant.available == false
    assign add_to_cart_tooltip = 'products.product.sold_out' | t
  endif
%}

<xo-animate
  xo-cascade
  class='xo-product-card xo-product-card--placeholder{% if settings.product_card_style %} xo-product-card--{{ settings.product_card_style }}{% endif %}{% if color_scheme %} color-{{ color_scheme }}{% endif %}{% if settings.enable_border_radius %} xo-product-card--radius{% endif %}'
>
  <div class='xo-product-card__header'>
    <div class='xo-product-card__image-placeholder'>
      {% render 'product-image', placeholder_image: placeholder_image, aspect_ratio: aspect_ratio, product: porduct %}
    </div>

    <div class='xo-product-card__actions'>
      <xo-tooltip xo-mobile-disabled xo-title='{{ add_to_cart_tooltip }}' xo-placement='top-center'>
        <xo-cart-add
          class='xo-product-card__add focus inset'
          {% if product.selected_or_first_available_variant.available == false %}
            xo-disabled
          {% endif %}
        >
          {%- if product.selected_or_first_available_variant.available -%}
            <div class='xo-product-card__icon focus-inset' aria-label='Cart add'>
              {% render 'button-icon', size: 'sm', style: 'primary', type: 'circle', icon: 'add-cart', icon_size: '17', effect: 'rotate' %}
            </div>
          {%- else -%}
            <div class='xo-product-card__icon xo-product-card__icon--sold-out'>
              {% render 'button-icon', size: 'sm', style: 'primary', type: 'circle', icon: 'add-cart', icon_size: '17', effect: 'rotate' %}
            </div>
          {%- endif -%}
        </xo-cart-add>
      </xo-tooltip>

      <xo-tooltip xo-mobile-disabled xo-title='{{ quick_view_tooltip }}' xo-placement='top-center' class='tooltip{% if settings.enable_border_radius %} tooltip--radius{% endif %}'>
        <xo-product-quick-view-trigger
          class='xo-product-card__quick-view focus-inset'
          xo-modal-name='quick-view'
          xo-product-url='{{ shop.url }}/products/{{ product.handle }}/?section_id=quick-view-content'
        >
          <div class='xo-product-card__icon' aria-label='Quickview'>
            {% render 'button-icon', size: 'sm', style: 'primary', type: 'circle', icon: 'quick-view', icon_size: '17', effect: 'slide-up' %}
          </div>
        </xo-product-quick-view-trigger>
      </xo-tooltip>
    </div>
  </div>

  <div class='xo-product-card__information'>
    <div class='xo-product-card__vendor' style='display: none;'>
      {{ 'products.product.vendor' | t }}
    </div>

    <a role='link' aria-disabled='true' class='xo-product-card__title'>
      {{ 'onboarding.product_title' | t }}
    </a>

    <div class='xo-product-card__price'>
      {% render 'price' %}
    </div>
  </div>
</xo-animate>
