{% comment %}
  Renders a product special element with a given value

  Accepts:
  - sub_heading: {String} Subheading (required)
  - heading: {String} Heading (required)
  - class: {String} Font size heading (required)

  Usage:
  {% render 'product-special', sub_heading: sub_heading, heading: heading, class: class %}
{% endcomment %}

<div class='product-special'>
  <div class='product-special__box {% if settings.enable_border_radius %}product-special__box--radius{% endif %} {% if color_schema_box %} color-{{ color_schema_box }}{% endif %}'>
    {% if caption %}
      <div class='product-special__caption'>
        <p>{{ caption }}</p>
      </div>
    {% endif %}
    {% if heading %}
      <h6 class='product-special__heading h6'>{{ heading }}</h6>
    {% endif %}
    <div class='product-special__content'>
      <div class='product-special__item'>
        {% if sub_heading_1 %}
          <div class='product-special__sub-heading'>
            <p>{{ sub_heading_1 }}</p>
          </div>
        {% endif %}
        {% if heading_1 %}
          <div class='product-special__heading {{ class }}'>
            {% render 'text', class: class, text: heading_1, tag_name: tag_name, effect: 'split', duration: 1000 %}
          </div>
        {% endif %}
      </div>
      <div class='product-special__item'>
        {% if sub_heading_2 %}
          <div class='product-special__sub-heading'>
            <p>{{ sub_heading_2 }}</p>
          </div>
        {% endif %}
        {% if heading_2 %}
          <div class='product-special__heading'>
            {% render 'text', class: class, text: heading_2, tag_name: tag_name, effect: 'split', duration: 1000 %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
