{% comment %}
  Renders a product media tabs with thumbnails.

  Accepts:
  - zoom_enabled: {Boolean} Whether to enable zoom on the main image (optional)
  - custom_desktop_image: {Image} Custom image for desktop from a product metafield.
  - custom_mobile_image: {Image} Custom image for mobile from a product metafield.
{% endcomment %}

<style>
  .custom-slide-mobile {
    display: none;
  }
  @media (max-width: 768px) {
    .custom-slide-desktop {
      display: none;
    }
    .custom-slide-mobile {
      display: block;
    }
  }
</style>


{% liquid
  assign featured_media = product.selected_or_first_available_variant.featured_media
  assign variant_images_grouping = product.metafields.custom.variant_images_grouping_list.value
%}


<xo-animate xo-cascade>
  <div class='xo-product-info-media-carousel'>
    <xo-product-will-change xo-unique-id='product-info-media-carousel-{{ product.id }}'>
      {% liquid
        assign current_variant = product.selected_or_first_available_variant
        assign new_grouping = null

        for grouping in variant_images_grouping
          assign variant_grouping_last = grouping.name.value | split: '__' | last
          for option in current_variant.options
            assign option_downcase = option | downcase
            if option_downcase == variant_grouping_last
              assign new_grouping = grouping
            endif
          endfor
        endfor
      %}
      <xo-gallery
        xo-sync='false'
        xo-backdrop-color='rgb(var(--color-background))'
        {% if gallery_type == 'scroll' %}
          xo-portal-type='scroll'
        {% endif %}
      >
        <xo-carousel>
          <xo-carousel-inner>
            <xo-carousel-list class='xo-product-info-media-carousel__list'>
              {% if product.media != blank or featured_media != blank or custom_desktop_image != blank %}
                {% if show_image_variants_grouping %}
                  {% for file in new_grouping.file_grouping.value %}
                    {% if featured_media == file %}
                      <xo-carousel-slide>
                        <xo-gallery-item xo-src='{{ featured_media.src | image_url: width: 1200 }}'>
                          <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                            {% render 'image', image: file, image_lazyload: false, image_widths: '375, 550, 750, 900' %}
                          </div>
                        </xo-gallery-item>
                      </xo-carousel-slide>
                    {% endif %}
                  {% endfor %}
                  {% for file in new_grouping.file_grouping.value %}
                    {% unless featured_media == file %}
                      <xo-carousel-slide>
                        <xo-gallery-item xo-src='{{ file.src | image_url: width: 1200 }}'>
                          <div style='height: 100%;'>
                            <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                              {% render 'image', image: file, image_lazyload: false, image_widths: '375, 550, 750, 900' %}
                            </div>
                          </div>
                        </xo-gallery-item>
                      </xo-carousel-slide>
                    {% endunless %}
                  {% endfor %}
                {% else %}
                  {% if custom_desktop_image != blank %}
                    {%- assign mobile_image_for_zoom = custom_mobile_image | default: custom_desktop_image -%}
                    
                    <xo-carousel-slide class="custom-slide-desktop">
                      <xo-gallery-item xo-src='{{ custom_desktop_image | image_url: width: 1200 }}'>
                        <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                          <img
                            src="{{ custom_desktop_image | image_url: width: 900 }}"
                            alt="{{ custom_desktop_image.alt | default: product.title | escape }}"
                            loading="eager"
                            width="{{ custom_desktop_image.width }}"
                            height="{{ custom_desktop_image.height }}"
                            style="object-fit: cover; width: 100%; height: 100%;"
                          >
                        </div>
                      </xo-gallery-item>
                    </xo-carousel-slide>
                    
                    <xo-carousel-slide class="custom-slide-mobile">
                      <xo-gallery-item xo-src='{{ mobile_image_for_zoom | image_url: width: 1200 }}'>
                        <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                          <img
                            src="{{ mobile_image_for_zoom | image_url: width: 750 }}"
                            alt="{{ mobile_image_for_zoom.alt | default: product.title | escape }}"
                            loading="eager"
                            width="{{ mobile_image_for_zoom.width }}"
                            height="{{ mobile_image_for_zoom.height }}"
                            style="object-fit: cover; width: 100%; height: 100%;"
                          >
                        </div>
                      </xo-gallery-item>
                    </xo-carousel-slide>

                  {% elsif featured_media != null %}
                    {% case featured_media.media_type %}
                      {%- when 'image' -%}
                        <xo-carousel-slide>
                          <xo-gallery-item xo-src='{{ featured_media.src | image_url: width: 1200 }}'>
                            <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                              {% render 'media', type: 'image', media: featured_media, image_lazyload: false, image_widths: '375, 550, 750, 900' %}
                            </div>
                          </xo-gallery-item>
                        </xo-carousel-slide>
                      {% else %}
                         <xo-carousel-slide>
                          <div style='height: 100%;'>
                            <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                              {% render 'media', type: featured_media.media_type, media: featured_media, enable_video_looping: true, controls: true, muted: true, autoplay: false %}
                            </div>
                          </div>
                        </xo-carousel-slide>
                    {% endcase %}
                  {% endif %}

                  {% for media in product.media %}
                    {% if media.id == featured_media.id %}{% continue %}{% endif %}
                    {% case media.media_type %}
                      {%- when 'image' -%}
                        <xo-carousel-slide>
                          <xo-gallery-item xo-src='{{ media.src | image_url: width: 1200 }}'>
                            <div style='height: 100%;'>
                              <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                                {% render 'media', type: 'image', media: media, image_lazyload: false, image_widths: '375, 550, 750, 900' %}
                              </div>
                            </div>
                          </xo-gallery-item>
                        </xo-carousel-slide>
                      {% else %}
                        <xo-carousel-slide>
                          <div class='xo-product-info-media-carousel__image{% if settings.enable_border_radius %} xo-product-info-media-carousel__image--radius{% endif %}'>
                            {% render 'media', type: media.media_type, media: media, enable_video_looping: true, controls: true, muted: true, autoplay: false %}
                          </div>
                        </xo-carousel-slide>
                    {% endcase %}
                  {% endfor %}
                {% endif %}
              {%- else -%}
                <xo-carousel-slide>
                  <div class='xo-product-info-media-carousel__image-placeholder'>
                    {% render 'image', placeholder: 'detailed-apparel-1' %}
                  </div>
                </xo-carousel-slide>
              {% endif %}
            </xo-carousel-list>
          </xo-carousel-inner>
          <div class='xo-product-info-media-carousel__content'>
            <xo-carousel-thumbnail
              class='xo-product-info-media-carousel__thumbnail'
              xo-per-view='6'
              xo-breakpoints='
                {
                  600: {
                    perView: 4,
                  },
                  1000: {
                    perView: 5,
                  },
                }
              '
            >
              <xo-carousel-inner>
                <xo-carousel-list>
                  {% if show_image_variants_grouping %}
                     {% for file in new_grouping.file_grouping.value %}
                       <xo-carousel-slide class='xo-product-info-media-carousel__thumb-slide'>
                         <div class='xo-product-info-media-carousel__thumb-image{% if settings.enable_border_radius %} xo-product-info-media-carousel__thumb-image--radius{% endif %}'>
                           {% render 'image', image: file %}
                         </div>
                       </xo-carousel-slide>
                     {% endfor %}
                  {% else %}
                    {% if custom_desktop_image != blank %}
                      <xo-carousel-slide class='xo-product-info-media-carousel__thumb-slide'>
                        <div class='xo-product-info-media-carousel__thumb-image{% if settings.enable_border_radius %} xo-product-info-media-carousel__thumb-image--radius{% endif %}'>
                           <img
                              src="{{ custom_desktop_image | image_url: width: 150, height: 150, crop: 'center' }}"
                              alt="{{ custom_desktop_image.alt | default: 'Thumbnail' | escape }}"
                              loading="lazy"
                              width="150"
                              height="150"
                              style="object-fit: cover; width: 100%; height: 100%;"
                            >
                        </div>
                      </xo-carousel-slide>
                    {% elsif featured_media != null %}
                       <xo-carousel-slide class='xo-product-info-media-carousel__thumb-slide'>
                        <div class='xo-product-info-media-carousel__thumb-image{% if settings.enable_border_radius %} xo-product-info-media-carousel__thumb-image--radius{% endif %}'>
                          {% render 'media', type: 'image', media: featured_media.preview_image %}
                        </div>
                      </xo-carousel-slide>
                    {% endif %}

                    {% for media in product.media %}
                      {% if media.id == featured_media.id %}{% continue %}{% endif %}
                      {% case media.media_type %}
                        {%- when 'image' -%}
                          <xo-carousel-slide class='xo-product-info-media-carousel__thumb-slide' data-index='{{ forloop.index }}'>
                            <div class='xo-product-info-media-carousel__thumb-image{% if settings.enable_border_radius %} xo-product-info-media-carousel__thumb-image--radius{% endif %}'>
                              {% render 'media', type: 'image', media: media.preview_image %}
                            </div>
                          </xo-carousel-slide>
                        {%- else -%}
                          <xo-carousel-slide class='xo-product-info-media-carousel__thumb-slide'>
                            <div class='xo-product-info-media-carousel__thumb-image{% if settings.enable_border_radius %} xo-product-info-media-carousel__thumb-image--radius{% endif %}'>
                              {% render 'media', type: media.media_type, media: media, enable_video_looping: true, controls: true, muted: true, autoplay: false %}
                            </div>
                          </xo-carousel-slide>
                      {% endcase %}
                    {% endfor %}
                  {% endif %}
                </xo-carousel-list>
              </xo-carousel-inner>
            </xo-carousel-thumbnail>
          </div>
        </xo-carousel>
      </xo-gallery>
    </xo-product-will-change>
  </div>
</xo-animate>
