{% comment %}
  Renders a page heading.

  Accepts:
  - title: {String} Title of the page (optional)
  - description: {String} Description of the page (optional)
  - align: {String} Alignment of the page heading (optional)
  - title_tag: {String} Heading card

  Usage:
  {% render 'section-heading' %}
{% endcomment %}

{% if title %}
  <div class='xo-section-heading{% if align  %} xo-section-heading--{{ align }}{% endif %}'>
    <{{ title_tag }} class='xo-section-heading__title'>
      {{ title | escape }}
    </{{ title_tag }}>

    {% if description != null %}
      <div class='xo-section-heading__description'>{{ description }}</div>
    {% endif %}
  </div>
{% endif %}
