{% comment %}
    Renders a service block

    Accepts:
    - image: {String} Image (required)
    - image_size: {String} Image size (required)
    - heading: {String} Heading (required)
    - content: {String} Content (required)
    - alignment: {String} Alignment (required)
    - color_schema_box: {String} Color schema (required)

    Usage:
  {% render 'service-block', image: image, image_size: image_size, heading: heading, content: content, alignment: alignment, color_schema_box: color_schema_box %}
{% endcomment %}

<xo-animate
  xo-cascade
  class='service-block{% if color_schema_box %} color-{{ color_schema_box }}{% endif %}{% if settings.enable_border_radius %} service-block--radius{% endif %}'
>
  <div class='service-block__wrapper{% if alignment %} service-block__wrapper--{{ alignment }}{% endif %}'>
    {% if heading_link != blank %}
      <a href='{{ heading_link }}' class='service-block__link'>
        <div class='service-block__image{% if image_size %} service-block__image--{{ image_size }}{% endif %}{% if color_config_enable %} service-block__image--modifier{% endif %}'>
          {% render 'image', image: image %}
        </div>
      </a>
    {% else %}
      <div class='service-block__image{% if image_size %} service-block__image--{{ image_size }}{% endif %}{% if color_config_enable %} service-block__image--modifier{% endif %}'>
        {% render 'image', image: image %}
      </div>
    {% endif %}
    {% if heading %}
      {% if heading_link != blank %}
        <a href='{{ heading_link }}' class='service-block__link'>
          <h3 class='service-block__heading'>{{ heading }}</h3>
        </a>
      {% else %}
        <h3 class='service-block__heading'>{{ heading }}</h3>
      {% endif %}
    {% endif %}
    {% if content != blank %}
      <div class='service-block__content'>{{ content }}</div>
    {% endif %}
  </div>
</xo-animate>
