{% liquid
  assign text = 'general.share.title' | t
  assign share_blocks = blocks | where: 'type', 'share' | first
  assign placement = placement | default: 'bottom-left'
%}

{% capture permalink_url %}
  {{ shop.url }}/{{ 'products/' | append: product.handle }}
{% endcapture %}

<div class='xo-share-product'>
  <div class='xo-share-product__share-link{% if share_blocks.settings.share_option == 'link' %} xo-share-product__share-link--block{% endif %}'>
    <xo-popover-trigger class='xo-share-product__share-link-trigger' xo-name='link-copy'>
      <div class='xo-share-product__icon-link'>
        {% render 'icon', name: 'share', size: '1.4rem' %}
      </div>
      <span>{{ text }}</span>
    </xo-popover-trigger>
    <xo-popover xo-name='link-copy' xo-placement='{{ placement }}'>
      <div class='xo-share-product__link-copy'>
        <a class='xo-share-product__link-url xo-link-url xo-line-1' href='{{ permalink_url }}'>{{ permalink_url }}</a>
        <xo-popover-trigger xo-name='link-copy' class='xo-share-product__icon-copy xo-copy-trigger'>
          {% render 'icon', name: 'copy', size: '1.4rem' %}
        </xo-popover-trigger>
      </div>
    </xo-popover>
  </div>
  <div class='xo-share-product__share-social{% if share_blocks.settings.share_option == 'social' %} xo-share-product__share-social--block{% endif %}'>
    <span>{{ text }} :</span>
    <div class='xo-share-product__list-icon-social'>
      <div class='xo-share-product__icon-social'>
        {% render 'share', list: 'facebook', url: permalink_url %}
      </div>
      <div class='xo-share-product__icon-social'>
        {% render 'share', list: 'printerest', url: permalink_url %}
      </div>
      <div class='xo-share-product__icon-social'>
        {% render 'share', list: 'twitter', url: permalink_url %}
      </div>
    </div>
  </div>
</div>
