{% comment %}
  Renders a list of social links based on the social links set in the theme settings.

  Accepts:
  - list: {String} A list of social media sites to include
  - tooltip_placement: {String} The placement of the tooltip

  Usage:
  {% render 'socials' %}
{% endcomment %}

{% liquid
  if list == null
    assign list = 'facebook, twitter, pinterest, instagram, tiktok, tumblr, snapchat, youtube, vimeo, linked, shopify'
  endif
  if tooltip_placement == null
    assign tooltip_placement = 'bottom-center'
  endif
  assign items = list | split: ','

  assign icon_size = icon_size | default: 24

  assign social_twitter_link = social_twitter_link | default: settings.social_twitter_link
  assign social_facebook_link = social_facebook_link | default: settings.social_facebook_link
  assign social_pinterest_link = social_pinterest_link | default: settings.social_pinterest_link
  assign social_instagram_link = social_instagram_link | default: settings.social_instagram_link
  assign social_tiktok_link = social_tiktok_link | default: settings.social_tiktok_link
  assign social_tumblr_link = social_tumblr_link | default: settings.social_tumblr_link
  assign social_snapchat_link = social_snapchat_link | default: settings.social_snapchat_link
  assign social_youtube_link = social_youtube_link | default: settings.social_youtube_link
  assign social_vimeo_link = social_vimeo_link | default: settings.social_vimeo_link
  assign social_linked_link = social_linked_link | default: settings.social_linked_link
  assign social_shopify_link = social_shopify_link | default: settings.social_shopify_link
%}

<div class='xo-socials'>
  {% for item in items %}
    {% assign temp = item | strip %}

    {% case temp %}
      {% when 'twitter' %}
        {%- if social_twitter_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.twitter' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_twitter_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.twitter' | t }}'
            >
              {% render 'icon', name: 'twitter', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'facebook' %}
        {%- if social_facebook_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.facebook' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_facebook_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.facebook' | t }}'
            >
              {% render 'icon', name: 'facebook', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'pinterest' %}
        {%- if social_pinterest_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.pinterest' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_pinterest_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.pinterest' | t }}'
            >
              {% render 'icon', name: 'pinterest', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'instagram' %}
        {%- if social_instagram_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.instagram' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_instagram_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.instagram' | t }}'
            >
              {% render 'icon', name: 'instagram', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'tiktok' %}
        {%- if social_tiktok_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.tiktok' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_tiktok_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.tiktok' | t }}'
            >
              {% render 'icon', name: 'tiktok', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'tumblr' %}
        {%- if social_tumblr_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.tumblr' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_tumblr_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.tumblr' | t }}'
            >
              {% render 'icon', name: 'tumblr', size: '1.3rem' %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'snapchat' %}
        {%- if social_snapchat_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.snapchat' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_snapchat_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.snapchat' | t }}'
            >
              {% render 'icon', name: 'snapchat', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'youtube' %}
        {%- if social_youtube_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.youtube' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_youtube_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.youtube' | t }}'
            >
              {% render 'icon', name: 'youtube', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'vimeo' %}
        {%- if social_vimeo_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.vimeo' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_vimeo_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.vimeo' | t }}'
            >
              {% render 'icon', name: 'vimeo', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'linked' %}
        {%- if social_linked_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.linked' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_linked_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.linked' | t }}'
            >
              {% render 'icon', name: 'linked', size: icon_size %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% when 'shopify' %}
        {%- if social_shopify_link != blank -%}
          <xo-tooltip xo-title='{{ 'general.social.links.shopify' | t }}' xo-placement='{{ tooltip_placement }}'>
            <a
              href='{{ social_shopify_link }}'
              target='_blank'
              class='xo-socials__link'
              aria-label='{{ 'general.social.links.shopify' | t }}'
            >
              {% render 'icon', name: 'shopify', size: '7rem' %}
            </a>
          </xo-tooltip>
        {%- endif -%}

      {% else %}
        <div class='xo-error'>List support: {{ list }}</div>
    {% endcase %}
  {% endfor %}
</div>
