{% comment %}
  Renders a wrapper block

  Accepts:
  - direction: {String} Direction (optional)
  - vertical_gap: {String} Vertical spacing (optional)
  - horizontal_gap: {String} Horizontal spacing (optional)
  - Aligment: {String} Alignment (optional)
  - width: {String} Width (optional)

  Usage:
  {% render 'wrapper-block',
    direction: direction,
    vertical_gap: vertical_gap,
    horizontal_gap: horizontal_gap,
    alignment: alignment,
    width: width,
  %}
{% endcomment %}

<div
  class='xo-wrapper-block{% if width %} xo-wrapper-block--{{ width }}{% endif %}{% if height %} xo-wrapper-block--{{ height }}{% endif %}'
  style='--direction_mobile: {{ direction_mobile }}; --vertical_gap_mobile: {{ vertical_gap_mobile }}; --horizontal_gap_mobile: {{ horizontal_gap_mobile }}; --alignment_mobile: {{ alignment_mobile }}; --justify_content_mobile: {{ justify_content_mobile }}; --direction_desktop: {{ direction_desktop }}; --vertical_gap_desktop: {{ vertical_gap_desktop }}; --horizontal_gap_desktop: {{ horizontal_gap_desktop }}; --alignment_desktop: {{ alignment_desktop }}; --justify_content_desktop: {{ justify_content_desktop }}'
>
  {{ content }}
</div>
