{{ 'section-banner-main-collection.css' | asset_url | stylesheet_tag }}

{% liquid
  assign show_count_number = section.settings.show_count_number
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign img_desktop = section.settings.background_image_desktop | image_url
  assign img_mobile = section.settings.background_image_mobile | image_url
  assign banner_height = section.settings.banner_height
  assign image_overlay_opacity = section.settings.image_overlay_opacity
  assign image_overlay_color = section.settings.image_overlay_color
  assign text = heading
  assign chars = text | split: ''
  assign words = text | split: ' '
  assign percent_initial_1 = 64
  assign percent_initial_2 = 74
  assign char_index = 0
%}

<section {% render 'section-attr' %}>
  <div
    class='banner-main-collection{% if banner_height %} banner-main-collection--{{ banner_height }}{% endif %}'
    style='--overlay-opacity: {{ image_overlay_opacity }}; --overlay-color: {{ image_overlay_color }}'
  >
    {% if img_desktop != blank or img_mobile != blank %}
      <div class='banner-main-collection__pr'>
        <div class='banner-main-collection__pr-2'>
          <xo-animate
            xo-cascade
            xo-type='zoom-out'
            xo-duration='2000'
            class='banner-main-collection__bg banner-main-collection__bg--desktop'
          >
            {% render 'image', image: img_desktop %}
          </xo-animate>
          <xo-animate
            xo-cascade
            xo-type='zoom-out'
            xo-duration='2000'
            class='banner-main-collection__bg banner-main-collection__bg--mobile'
          >
            {% render 'image', image: img_mobile %}
          </xo-animate>
        </div>
      </div>
    {%- else -%}
      <div class='banner-main-collection__pr'>
        <div class='banner-main-collection__pr-2'>
          <xo-animate xo-cascade xo-type='zoom-out' xo-duration='2000' class='banner-main-collection__bg'>
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </xo-animate>
        </div>
      </div>
    {% endif %}

    <xo-container class='banner-main-collection__container'>
      <div class='banner-main-collection__content'>
        <xo-animate xo-cascade>
          <div class='banner-main-collection__head'>
            <h3 class='banner-main-collection__heading {{ class }}'>
              {% for word in words %}
                {% if forloop.index != 1 %}
                  <span class='banner-main-collection__char'>&nbsp;</span>
                {% endif %}
                {% assign chars = word | split: '' %}
                <span class='banner-main-collection__chars'>
                  {% for char in chars %}
                    {% assign char_index = char_index | plus: 1 %}
                    {% assign percent_3 = percent_initial_1 | minus: char_index %}
                    {% assign percent_4 = percent_initial_2 | minus: char_index %}
                    <xo-animate xo-cascade xo-duration='1000' xo-strength='3' xo-easing='easeOutExpo'>
                      <xo-parallax-scroll xo-keyframes="{ '{{ percent_3 }}%': { y: '0%' }, '{{ percent_4 }}%': { y: '200%' } }">{{ char }}</xo-parallax-scroll>
                    </xo-animate>
                  {% endfor %}
                </span>
              {% endfor %}
            </h3>
            {% if show_count_number %}
              <xo-animate xo-cascade>
                <div class='banner-main-collection__count'>
                  <span>({{ shop.collections_count }})</span>
                </div>
              </xo-animate>
            {% endif %}
          </div>
        </xo-animate>
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.banner_main_collection.name",
  "class": "section-hero",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.banner_main_collection.settings.header_text.content"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h1",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "t:sections.banner_main_collection.settings.heading.label",
      "default": "Banner main collection"
    },
    {
      "type": "checkbox",
      "id": "show_count_number",
      "label": "t:sections.banner_main_collection.settings.show_count_number.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.banner_main_collection.settings.header_image.content"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.banner_main_collection.settings.image_dt.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.banner_main_collection.settings.image_mb.label"
    },
    {
      "type": "select",
      "id": "banner_height",
      "label": "t:sections.all.aspect_ratio_banner.label",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.aspect_ratio_banner.option__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.aspect_ratio_banner.option__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.aspect_ratio_banner.option__3.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "t:sections.banner_main_collection.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "color",
      "id": "image_overlay_color",
      "label": "t:sections.banner_main_collection.settings.image_overlay_color.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [

  ],
  "presets": [
    {
      "name": "t:sections.banner_main_collection.presets.name",
      "settings": {},
      "blocks": [

  ]
    }
  ]
}
{% endschema %}
