{{ 'section-collection-list-style-4.css' | asset_url | stylesheet_tag }}

{% liquid
  assign layout = section.settings.layout
  assign per_view = section.settings.per_view
  assign autoplay = section.settings.autoplay
  assign time = section.settings.time
  assign block = section.blocks
%}

{% if block.size == 1 %}
  {% capture class %}
    collection-list-style-4__grid--modifier-1
  {% endcapture %}
{% elsif block.size == 2 %}
  {% capture class %}
    collection-list-style-4__grid--modifier-2
  {% endcapture %}
{% elsif block.size == 3 %}
  {% capture class %}
    collection-list-style-4__grid--modifier-3
  {% endcapture %}
{% elsif block.size == 4 %}
  {% capture class %}
    collection-list-style-4__grid--modifier-4
  {% endcapture %}
{% elsif block.size == 5 %}
  {% capture class %}
    collection-list-style-4__grid--modifier-5
  {% endcapture %}
{% elsif block.size == 6 %}
  {% capture class %}
    collection-list-style-4__grid--modifier-6
  {% endcapture %}
{% endif %}

<section {% render 'section-attr' %}>
  <div class='collection-list-style-4'>
    <xo-container class='collection-list-style-4__container'>
      {% if layout == 'slider' %}
        <xo-carousel
          class='collection-list-style-4__carousel'
          xo-per-view='{{ per_view }}'
          xo-per-move='1'
          {% if autoplay == 'on' %}
            xo-autoplay='{{ time }}'
            xo-loop
          {% endif %}
          xo-breakpoints='
            {
              500: {
                perView: 1,
                perMove: 1,
                gap: 10,
                overflow: "visible"
              },
              768: {
                perView: 2,
                perMove: 1,
                gap: 10,
                overflow: "visible"
              },
            }
          '
        >
          <xo-carousel-inner>
            <xo-carousel-list>
              {% for block in section.blocks %}
                {% liquid
                  assign collection = block.settings.collection
                  assign collection_image = collection.featured_image
                  assign collection_name = collection.title
                  assign collection_link = collection.url
                  assign image_dt = block.settings.image_dt
                  assign aspect_ratio_dt = block.settings.aspect_ratio_dt
                  assign image_mb = block.settings.image_mb
                  assign aspect_ratio_mb = block.settings.aspect_ratio_mb
                  assign color_scheme_collection = block.settings.color_scheme_collection
                  assign background_overlay = block.settings.background_overlay
                  assign heading = block.settings.heading | default: collection.title
                  assign class = block.settings.font_size_heading
                  assign button = block.settings
                %}
                <xo-carousel-slide style='padding-top: 1rem; padding-bottom: 1rem;'>
                  {% render 'collection-list-4',
                    collection: collection,
                    collection_image: collection_image,
                    collection_name: collection_name,
                    collection_link: collection_link,
                    image_dt: image_dt,
                    aspect_ratio_dt: aspect_ratio_dt,
                    image_mb: image_mb,
                    aspect_ratio_mb: aspect_ratio_mb,
                    color_scheme_collection: color_scheme_collection,
                    heading: heading,
                    class: class,
                    button: button,
                    background_overlay: background_overlay
                  %}
                </xo-carousel-slide>
              {% endfor %}
            </xo-carousel-list>
          </xo-carousel-inner>
        </xo-carousel>
      {%- else -%}
        <div class='collection-list-style-4__grid {{ class }}'>
          {% for block in section.blocks %}
            {% liquid
              assign collection = block.settings.collection
              assign collection_image = collection.featured_image
              assign collection_name = collection.title
              assign collection_link = collection.url
              assign image_dt = block.settings.image_dt
              assign aspect_ratio_dt = block.settings.aspect_ratio_dt
              assign image_mb = block.settings.image_mb
              assign aspect_ratio_mb = block.settings.aspect_ratio_mb
              assign color_scheme_collection = block.settings.color_scheme_collection
              assign background_overlay = block.settings.background_overlay
              assign heading = block.settings.heading | default: collection.title
              assign class = block.settings.font_size_heading
              assign button = block.settings
            %}
            <div class='collection-list-style-4__item collection-list-style-4__item--{{ forloop.index }}'>
              <div style='height: 100%;'>
                {% render 'collection-list-4',
                  collection: collection,
                  collection_image: collection_image,
                  collection_name: collection_name,
                  collection_link: collection_link,
                  image_dt: image_dt,
                  aspect_ratio_dt: aspect_ratio_dt,
                  image_mb: image_mb,
                  aspect_ratio_mb: aspect_ratio_mb,
                  color_scheme_collection: color_scheme_collection,
                  heading: heading,
                  class: class,
                  button: button,
                  background_overlay: background_overlay
                %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection_list_style_4.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.collection_list_style_4.settings.layout.label",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.collection_list_style_4.settings.layout.option__1.label"
        },
        {
          "value": "slider",
          "label": "t:sections.collection_list_style_4.settings.layout.option__2.label"
        }
      ],
      "default": "slider"
    },
    {
      "type": "header",
      "content": "t:sections.collection_list_style_4.settings.header_slider.content"
    },
    {
      "type": "range",
      "id": "per_view",
      "min": 2,
      "max": 5,
      "step": 1,
      "unit": "col",
      "label": "t:sections.collection_list_style_4.settings.per_view.label",
      "default": 3
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.collection_list_style_4.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.collection_list_style_4.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.collection_list_style_4.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "range",
      "id": "time",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "unit": "s",
      "label": "t:sections.collection_list_style_4.settings.autoplay.time.label",
      "default": 3000
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.collection_list_style_4.blocks.name",
      "type": "collection-box",
      "limit": 6,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection_list_style_4.blocks.settings.collection.label"
        },
        {
          "type": "select",
          "id": "font_size_heading",
          "label": "t:sections.all.font_size_heading.label",
          "default": "h5",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.font_size_heading.option__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.font_size_heading.option__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.font_size_heading.option__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.font_size_heading.option__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.font_size_heading.option__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.font_size_heading.option__6.label"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "t:sections.collection_list_style_4.blocks.settings.heading.label",
          "default": "Collection"
        },
        {
          "type": "header",
          "content": "t:sections.collection_list_style_4.blocks.settings.header_image.content"
        },
        {
          "type": "image_picker",
          "id": "image_dt",
          "label": "t:sections.collection_list_style_4.blocks.settings.image_dt.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio_dt",
          "label": "t:sections.all.aspect_ratio.label",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.collection_list_style_4.blocks.settings.image_mb.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio_mb",
          "label": "t:sections.all.aspect_ratio.label",
          "default": "auto",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.collection_list_style_4.blocks.settings.header_button.content"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.all.button_text.label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.all.button_style.label",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.button_style.option__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.all.button_style.option__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.button_style.option__3.label"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "t:sections.all.button_size.label",
          "options": [
            {
              "value": "xs",
              "label": "t:sections.all.button_size.option__0.label"
            },
            {
              "value": "sm",
              "label": "t:sections.all.button_size.option__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.all.button_size.option__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.all.button_size.option__3.label"
            }
          ],
          "default": "sm"
        },
        {
          "type": "header",
          "content": "t:sections.collection_list_style_4.blocks.settings.header_general.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_collection",
          "default": "scheme_1",
          "label": "t:sections.collection_list_style_4.blocks.settings.color_schema_collection.label"
        },
        {
          "type": "range",
          "id": "background_overlay",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 0,
          "label": "t:sections.collection_list_style_4.blocks.settings.background_overlay.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection_list_style_4.presets.name",
      "blocks": [
        {
          "type": "collection-box",
          "settings": {
            "collection": "",
            "font_size_heading": "h5",
            "heading": "Collection",
            "aspect_ratio_dt": "auto",
            "aspect_ratio_mb": "auto",
            "button_text": "Button",
            "button_link": "shopify://collections/all",
            "button_style": "primary",
            "button_size": "sm",
            "color_scheme_collection": "scheme_1"
          }
        },
        {
          "type": "collection-box",
          "settings": {
            "collection": "",
            "font_size_heading": "h5",
            "heading": "Collection",
            "aspect_ratio_dt": "auto",
            "aspect_ratio_mb": "auto",
            "button_text": "Button",
            "button_link": "shopify://collections/all",
            "button_style": "primary",
            "button_size": "sm",
            "color_scheme_collection": "scheme_1"
          }
        },
        {
          "type": "collection-box",
          "settings": {
            "collection": "",
            "font_size_heading": "h5",
            "heading": "Collection",
            "aspect_ratio_dt": "auto",
            "aspect_ratio_mb": "auto",
            "button_text": "Button",
            "button_link": "shopify://collections/all",
            "button_style": "primary",
            "button_size": "sm",
            "color_scheme_collection": "scheme_1"
          }
        }
      ],
      "settings": {
        "per_view": 3,
        "autoplay": "off",
        "time": 3000,
        "color_scheme": "",
        "background_color": "",
        "background_gradient": "",
        "padding_top_desktop": 50,
        "padding_bottom_desktop": 50,
        "padding_top_mobile": 50,
        "padding_bottom_mobile": 50
      }
    }
  ]
}
{% endschema %}
