{{ 'section-introduction-text.css' | asset_url | stylesheet_tag }}

{% liquid
  assign content = section.settings.content
%}

{% if section.blocks.size <= 3 %}
  {%- capture style -%}
    style='--lg: 4; --md: 6; --xs: 12'
  {%- endcapture -%}
{%- else -%}
  {%- capture style -%}
    style='--lg: 3; --md: 6; --xs: 12'
  {%- endcapture -%}
{% endif %}

<section {% render 'section-attr' %}>
  <div class='introduction-text'>
    <xo-container class='introduction-text__container'>
      <div class='introduction-text__content'>
        {% if content %}
          <xo-parallax>
            <xo-parallax-scroll
              class='introduction-text__box'
              xo-keyframes="
                {
                  '30%': { backgroundSizeX: 0 },
                  '65%': { backgroundSizeX: 100 }
                }
              "
            >
              <p>
                <span>{{ content }}</span>
              </p>
            </xo-parallax-scroll>
          </xo-parallax>
        {% endif %}
        <xo-grid class='introduction-text__grid'>
          {% for block in section.blocks %}
            {% liquid
              assign class = block.settings.font_size_heading
              assign sub_heading = block.settings.sub_heading
              assign heading = block.settings.heading
              assign number = block.settings.number
            %}
            <div class='introduction-text__count' {{ style }}>
              {% if sub_heading %}
                <xo-animate xo-cascade>
                  <div class='introduction-text__sub-heading'>
                    <p>{{ sub_heading }}</p>
                  </div>
                </xo-animate>
              {% endif %}
              {% if heading %}
                <xo-animate xo-cascade>
                  <h3 class='introduction-text__heading {{ class }}'>{{ heading }}</h3>
                </xo-animate>
              {% endif %}
              {% if number != 0 %}
                <xo-animate xo-cascade>
                  <div class='introduction-text__number {{ class }}'>
                    <xo-countto xo-from='0' xo-to='{{ number }}'>
                      <span>0</span>
                    </xo-countto>
                    +
                  </div>
                </xo-animate>
              {% endif %}
            </div>
          {% endfor %}
        </xo-grid>
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.introduction_text.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.introduction_text.settings.content.label",
      "default": "Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store."
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.introduction_text.blocks.name",
      "type": "countto",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "t:sections.introduction_text.blocks.settings.sub_heading.label",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "font_size_heading",
          "label": "t:sections.all.font_size_heading.label",
          "default": "h4",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.font_size_heading.option__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.font_size_heading.option__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.font_size_heading.option__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.font_size_heading.option__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.font_size_heading.option__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.font_size_heading.option__6.label"
            }
          ]
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.introduction_text.blocks.settings.heading.label"
        },
        {
          "type": "number",
          "id": "number",
          "label": "t:sections.introduction_text.blocks.settings.number.label",
          "default": 1000
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.introduction_text.presets.name"
    }
  ]
}
{% endschema %}
