{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{% liquid
  assign class = section.settings.font_size_heading
  assign align = section.settings.align
%}

<section {% render 'section-attr' %}>
  <div class='main-page'>
    <xo-container class='main-page__container'>
      <div class='main-page__wrapper{% if align %} main-page__wrapper--{{ align }}{% endif %}'>
        <h2 class='main-page__heading {{ class }}'>{{ page.title | escape }}</h2>
        <div class='main-page__content'>{{ page.content }}</div>
      </div>
    </xo-container>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_page.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "align",
      "label": "t:sections.main_page.settings.align.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main_page.settings.align.option__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main_page.settings.align.option__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main_page.settings.align.option__3.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "t:sections.main_page.presets.name"
    }
  ]
}
{% endschema %}
