{{ 'section-popup-product-quickview.css' | asset_url | stylesheet_tag }}
{{ 'product-card-custom-v2.css' | asset_url | stylesheet_tag }}

{% comment %}
  Renders popup product quickview

  Accepts:
  - type: {String} lightbox, flyout Default: modal

  Usage:
  {% render 'popup-product-quickview' %}
{% endcomment %}

{% liquid
  assign show = true
  if section.settings.where_to_show == 'target_pages'
    assign pages = section.settings.target_pages | split: ' '
    assign show = false
    for item in pages
      assign text = item | strip
      if text == request.page_type
        assign show = true
      elsif request.page_type == 'product' and request.path contains text
        assign show = true
      endif
    endfor
  endif

  assign placement_type = section.settings.placement_type

  assign settings = show | append: section.settings.target_pages | append: section.settings.when_to_show | append: section.settings.time_delay | append: section.settings.show_scroll_depth
  assign observed = settings | base64_encode

  assign product = section.settings.product
%}

<xo-popup-product-quickview
  xo-observed='{{ observed }}'
  xo-show='{{ show }}'
  xo-when='{{ section.settings.when_to_show }}'
  xo-delay='{{ section.settings.time_delay }}'
  xo-scroll='{{ section.settings.show_scroll_depth }}'
  xo-frequency='{{ section.settings.often_show }}'
  class='{% if settings.enable_border_radius %}xo-popup-product-quickview--radius{% endif %}'
>
  <xo-modal
    xo-name='xo-popup-{{ section.id }}'
    xo-animate='slide-up'
    xo-duration='500'
    xo-placement='{{ placement_type }}'
    xo-backdrop-disabled='true'
    xo-scroll-disabled='false'
    xo-portal='false'
  >
    <div
      class='xo-popup-product-quickview'
      style='--xo-popup-product-quickview-content-width: {{ section.settings.content_width }}px;'
    >
      <div class='xo-popup-product-quickview__container'>
        <div class='xo-popup-product-quickview__content-container'>
          <div class='xo-popup-product-quickview__content'>
            {% render 'product-card-custom-v2', product: product, product_handle: true, color_schema_card: section.settings.color_scheme %}
          </div>
        </div>
      </div>
    </div>
  </xo-modal>
</xo-popup-product-quickview>

{% schema %}
{
  "name": "t:sections.popup_product_quickview.name",
  "enabled_on": {
    "groups": [
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.popup_product_quickview.settings.color_scheme"
    },
    {
      "type": "range",
      "id": "content_width",
      "min": 320,
      "max": 800,
      "step": 5,
      "unit": "px",
      "label": "t:sections.popup_product_quickview.settings.content_width",
      "default": 510
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.popup_product_quickview.settings.product"
    },
    {
      "type": "header",
      "content": "t:sections.popup_product_quickview.settings.conditions"
    },
    {
      "type": "select",
      "id": "placement_type",
      "options": [
        {
          "value": "bottom-left",
          "label": "t:sections.popup_product_quickview.settings.placement_type.options.bottom_left"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.popup_product_quickview.settings.placement_type.options.bottom_right"
        }
      ],
      "default": "bottom-right",
      "label": "t:sections.popup_product_quickview.settings.placement_type.label"
    },
    {
      "type": "select",
      "id": "where_to_show",
      "options": [
        {
          "value": "all_pages",
          "label": "t:sections.popup_product_quickview.settings.where_to_show.options.all_pages"
        },
        {
          "value": "target_pages",
          "label": "t:sections.popup_product_quickview.settings.where_to_show.options.target_pages"
        }
      ],
      "default": "all_pages",
      "label": "t:sections.popup_product_quickview.settings.where_to_show.label"
    },
    {
      "type": "textarea",
      "id": "target_pages",
      "info": "t:sections.popup_product_quickview.settings.target_pages.info",
      "placeholder": "index \nproduct",
      "label": "t:sections.popup_product_quickview.settings.target_pages.label"
    },
    {
      "type": "radio",
      "id": "when_to_show",
      "options": [
        {
          "value": "immediately",
          "label": "t:sections.popup_product_quickview.settings.when_to_show.options.immediately"
        },
        {
          "value": "conditions",
          "label": "t:sections.popup_product_quickview.settings.when_to_show.options.conditions"
        }
      ],
      "default": "immediately",
      "label": "t:sections.popup_product_quickview.settings.when_to_show.label"
    },
    {
      "type": "radio",
      "id": "time_delay",
      "options": [
        {
          "value": "0",
          "label": "t:sections.popup_product_quickview.settings.time_delay.options.none"
        },
        {
          "value": "3000",
          "label": "t:sections.popup_product_quickview.settings.time_delay.options.after_3s"
        },
        {
          "value": "5000",
          "label": "t:sections.popup_product_quickview.settings.time_delay.options.after_5s"
        },
        {
          "value": "15000",
          "label": "t:sections.popup_product_quickview.settings.time_delay.options.after_15s"
        },
        {
          "value": "30000",
          "label": "t:sections.popup_product_quickview.settings.time_delay.options.after_30s"
        },
        {
          "value": "60000",
          "label": "t:sections.popup_product_quickview.settings.time_delay.options.after_1m"
        },
        {
          "value": "120000",
          "label": "t:sections.popup_product_quickview.settings.time_delay.options.after_2m"
        }
      ],
      "default": "0",
      "label": "t:sections.popup_product_quickview.settings.time_delay.label"
    },
    {
      "type": "radio",
      "id": "show_scroll_depth",
      "options": [
        {
          "value": "none",
          "label": "t:sections.popup_product_quickview.settings.show_scroll_depth.options.none"
        },
        {
          "value": "25",
          "label": "t:sections.popup_product_quickview.settings.show_scroll_depth.options.after_25"
        },
        {
          "value": "50",
          "label": "t:sections.popup_product_quickview.settings.show_scroll_depth.options.after_50"
        },
        {
          "value": "75",
          "label": "t:sections.popup_product_quickview.settings.show_scroll_depth.options.after_75"
        },
        {
          "value": "100",
          "label": "t:sections.popup_product_quickview.settings.show_scroll_depth.options.after_100"
        }
      ],
      "default": "none",
      "label": "t:sections.popup_product_quickview.settings.show_scroll_depth.label"
    },
    {
      "type": "header",
      "content": "Frequency"
    },
    {
      "type": "select",
      "id": "often_show",
      "options": [
        {
          "value": "once",
          "label": "Only once"
        },
        {
          "value": "every_hour",
          "label": "Every hour"
        },
        {
          "value": "every_12_hours",
          "label": "Every 12 hours"
        },
        {
          "value": "every_day",
          "label": "Every day"
        },
        {
          "value": "every_3_day",
          "label": "Every 3 day"
        },
        {
          "value": "every_week",
          "label": "Every week"
        },
        {
          "value": "every_2_weeks",
          "label": "Every 2 weeks"
        },
        {
          "value": "no_limit",
          "label": "No limit"
        }
      ],
      "default": "no_limit",
      "label": "How often to show"
    }
  ],
  "blocks": [

  ]
}
{% endschema %}
