{{ 'section-product-specification-style-14.css' | asset_url | stylesheet_tag }}
{{ 'product-special.css' | asset_url | stylesheet_tag }}
{{ 'product-specification-14.css' | asset_url | stylesheet_tag }}
{{ 'product-information.css' | asset_url | stylesheet_tag }}
{{ 'transform-list.css' | asset_url | stylesheet_tag }}

{% liquid
  assign layout = section.settings.layout
  assign class = section.settings.font_size_heading
  assign heading = section.settings.heading
  assign autoplay = section.settings.autoplay
  assign autoplay_time = section.settings.autoplay_time
  assign block = section.blocks
%}

<section {% render 'section-attr' %}>
  <div class='product-specification-style-14{% if layout %} product-specification-style-14--with-{{ layout }}{% endif %}'>
    {% render 'section-bg-image' %}
    <div class='product-specification-style-14__content'>
      {% render 'product-specification-14', class: class, heading: heading, autoplay: autoplay, autoplay_time: autoplay_time, block: block, layout: layout %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product_specification_style_14.name",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay",
      "custom.popups"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.product_specification_style_14.settings.layout.label",
      "options": [
        {
          "value": "image",
          "label": "t:sections.product_specification_style_14.settings.layout.option__1.label"
        },
        {
          "value": "product",
          "label": "t:sections.product_specification_style_14.settings.layout.option__2.label"
        }
      ],
      "default": "product"
    },
    {
      "type": "select",
      "id": "font_size_heading",
      "label": "t:sections.all.font_size_heading.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.all.font_size_heading.option__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.font_size_heading.option__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.font_size_heading.option__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.font_size_heading.option__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.font_size_heading.option__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.font_size_heading.option__6.label"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.product_specification_style_14.settings.heading.label",
      "default": "<p>Product specification</p>"
    },
    {
      "type": "header",
      "content": "t:sections.product_specification_style_14.settings.header_1.content"
    },
    {
      "type": "range",
      "id": "autoplay_time",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "label": "t:sections.product_specification_style_14.settings.autoplay_time.label",
      "default": 3000
    },
    {
      "type": "select",
      "id": "autoplay",
      "label": "t:sections.product_specification_style_14.settings.autoplay.label",
      "options": [
        {
          "value": "off",
          "label": "t:sections.product_specification_style_14.settings.autoplay.option__1.label"
        },
        {
          "value": "on",
          "label": "t:sections.product_specification_style_14.settings.autoplay.option__2.label"
        }
      ],
      "default": "off"
    },
    {
      "type": "header",
      "content": "t:sections.product_specification_style_14.settings.header_2.content"
    },
    {
      "type": "color_scheme",
      "id": "color_schema_box",
      "label": "t:sections.product_specification_style_14.settings.color_schema_box.label",
      "default": "scheme_1"
    },
    {
      "type": "header",
      "content": "t:sections.all.heading.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.bg_color.label"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "t:sections.all.bg_gradient.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "t:sections.all.background_image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.all.background_image_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "use_parallax",
      "label": "t:sections.all.use_parallax.label",
      "default": true
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "t:sections.all.padding_top_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "t:sections.all.padding_bottom_desktop.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "t:sections.all.padding_top_mobile.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "t:sections.all.padding_bottom_mobile.label",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "t:sections.product_specification_style_14.blocks.name_1",
      "type": "detail-infomation-1",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "t:sections.product_specification_style_14.blocks.settings.caption.label",
          "default": "Subheading",
          "info": "t:sections.product_specification_style_14.blocks.settings.caption.info"
        },
        {
          "type": "select",
          "id": "font_size_heading",
          "label": "t:sections.all.font_size_heading.label",
          "default": "h1",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.all.font_size_heading.option__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.font_size_heading.option__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.font_size_heading.option__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.all.font_size_heading.option__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.all.font_size_heading.option__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.all.font_size_heading.option__6.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_14.blocks.settings.header_1.content"
        },
        {
          "type": "text",
          "id": "sub_heading_1",
          "label": "t:sections.product_specification_style_14.blocks.settings.sub_heading.label",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "heading_1",
          "label": "t:sections.product_specification_style_14.blocks.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "header",
          "content": "t:sections.product_specification_style_14.blocks.settings.header_2.content"
        },
        {
          "type": "text",
          "id": "sub_heading_2",
          "label": "t:sections.product_specification_style_14.blocks.settings.sub_heading.label",
          "default": "Subheading"
        },
        {
          "type": "text",
          "id": "heading_2",
          "label": "t:sections.product_specification_style_14.blocks.settings.heading.label",
          "default": "Heading"
        },
        {
          "type": "color_scheme",
          "id": "color_schema_box",
          "label": "t:sections.product_specification_style_14.blocks.settings.color_schema_box.label",
          "default": "scheme_1"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_14.blocks.name_2",
      "type": "detail-infomation-2",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "t:sections.product_specification_style_14.blocks.settings.caption.label",
          "default": "Subheading",
          "info": "t:sections.product_specification_style_14.blocks.settings.caption.info"
        },
        {
          "type": "richtext",
          "id": "title_list",
          "label": "t:sections.product_specification_style_14.blocks.settings.title_list.label",
          "default": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>"
        },
        {
          "type": "richtext",
          "id": "content_list",
          "label": "t:sections.product_specification_style_14.blocks.settings.content_list.label",
          "default": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>"
        },
        {
          "type": "color_scheme",
          "id": "color_schema_box",
          "label": "t:sections.product_specification_style_14.blocks.settings.color_schema_box.label",
          "default": "scheme_1"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_14.blocks.name_3",
      "type": "product",
      "limit": 1,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.product_specification_style_14.blocks.settings.product.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.product_card_heading.content"
        },
        {
          "type": "select",
          "id": "product_card_aspect_ratio",
          "label": "t:sections.all.product_card_aspect_ratio.label",
          "default": "1",
          "options": [
            {
              "value": "auto",
              "label": "t:sections.all.product_card_aspect_ratio.option__1.label"
            },
            {
              "value": "2/3",
              "label": "t:sections.all.product_card_aspect_ratio.option__2.label"
            },
            {
              "value": "3/4",
              "label": "t:sections.all.product_card_aspect_ratio.option__3.label"
            },
            {
              "value": "3/2",
              "label": "t:sections.all.product_card_aspect_ratio.option__4.label"
            },
            {
              "value": "1",
              "label": "t:sections.all.product_card_aspect_ratio.option__5.label"
            },
            {
              "value": "4/3",
              "label": "t:sections.all.product_card_aspect_ratio.option__6.label"
            },
            {
              "value": "16/9",
              "label": "t:sections.all.product_card_aspect_ratio.option__7.label"
            },
            {
              "value": "21/9",
              "label": "t:sections.all.product_card_aspect_ratio.option__8.label"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "card_color_scheme",
          "label": "t:sections.all.card_color_scheme.label"
        }
      ]
    },
    {
      "name": "t:sections.product_specification_style_14.blocks.name_4",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.product_specification_style_14.blocks.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_specification_style_14.presets.name",
      "settings": {},
      "blocks": [
        {
          "type": "detail-infomation-1",
          "settings": {
            "font_size_heading": "h1",
            "heading_1": "Heading 1",
            "sub_heading_1": "Subheading 1",
            "heading_2": "Heading 2",
            "sub_heading_2": "Subheading 2",
            "color_schema_box": ""
          }
        },
        {
          "type": "product",
          "settings": {
            "product": "",
            "product_card_aspect_ratio": "1",
            "card_color_scheme": "background-1"
          }
        },
        {
          "type": "detail-infomation-2",
          "settings": {
            "caption": "SUBHEADING",
            "title_list": "<ul><li>Title</li><li>Title</li><li>Title</li><li>Title</li></ul>",
            "content_list": "<ul><li>Content</li><li>Content</li><li>Content</li><li>Content</li></ul>",
            "color_schema_box": "background-1"
          }
        }
      ]
    }
  ]
}
{% endschema %}
