{{ 'section-quick-view-content.css' | asset_url | stylesheet_tag }}
{{ 'product-info-content-quickview.css' | asset_url | stylesheet_tag }}
{{ 'product-info-media-quickview.css' | asset_url | stylesheet_tag }}
{{ 'media.css' | asset_url | stylesheet_tag }}
{{ '3d-model.css' | asset_url | stylesheet_tag }}

<div class='xo-main-product-quickview'>
  <xo-product
    xo-product-information
    xo-product-id='{{ product.id }}'
    xo-section-id='{{ section.id }}'
    xo-product-url='{{ shop.url }}{{ product.url }}'
    class='xo-main-product-quickview__product'
  >
    {% liquid
      assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
    %}
    <xo-container class='xo-main-product-quickview__container'>
      <xo-grid class='xo-main-product-quickview__grid'>
        <div style='--xs: 12; --md: 12; --lg: 7' class='xo-main-product-quickview__media'>
          {% render 'product-info-media-quickview', variant_images: variant_images %}
        </div>
        <div style='--xs: 12; --mf: 12; --lg: 5' class='xo-main-product-quickview__content xo-scrollbar'>
          {% render 'product-info-content-quickview' %}
        </div>
      </xo-grid>
    </xo-container>
    {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
    {%- if first_3d_model -%}
      <script type='application/json' id='xo-3d-product-json-{{ product.id }}'>
        {{ product.media | where: 'media_type', 'model' | json }}
      </script>
    {%- endif -%}
    {% render 'product-data', product: product %}
    {% render 'main-product-ld-json', product: product %}
  </xo-product>
</div>

{% schema %}
{
  "name": "t:sections.quick_view_content.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}
